
.related h3 { font-size:36px; font-family: psl_displayregular, Tahoma, sans-serif; color:#6c6c6c; border-bottom:1px solid #ccc; line-height:30px; margin-top:20px; font-weight:normal }
.related h3 span { color:#FFF; background:transparent; padding:5px 0 0; }
.related ul { overflow:hidden; padding:0; }
.related li { margin:5px 0; max-height:250px; overflow:hidden; border-bottom:1px solid #e5e5e5; padding:0 0 5px; list-style:none;}
.related li a { position:relative; display:block; color:#666; }
.related li a span { width:120px; height:67px; overflow:hidden; display:inline; float:left; margin-right:5px; }
.related.vdo li a span { width:120px; height:67px; overflow:hidden; display:inline; float:left; margin-right:5px; }
.related li a span img { position:relative; width:120px; height:auto; }
.related.vdo li a span img { position:relative; top:-11px; width:120px; height:90px; }
.related li a strong { padding:6px; color:#333; font-size:13px; min-height:40px; font-weight:normal; display:block; }
.related.vdo li a span:before { display:block; content:""; border-radius:100%; position:absolute; margin:-10px 0 0 -113px; width:40px; height:40px; background:rgba(0,0,0,0.3); z-index:99; box-shadow:0 2px 4px rgba(0,0,0,0.2); top:50%; left:50%; }
.related.vdo li a span:after { display:block; content:""; position:absolute; top:50%; left:50%; margin:1px 0 0 -98px; z-index:99; width:1px; height:1px; border-left:12px solid #FFF; border-top:8px solid transparent; border-bottom:8px solid transparent; }

.related.photo { overflow:hidden; }
.related.photo li { width:33%; display:inline; float:left; border:0; text-align:center; list-style:none; }
.related.photo li a span { width:96px; height:96px; display:block; float:none; margin:0; }
.related.photo li a span img { width:96px; height:96px; }
.related.photo li a strong { padding:4px 0 0 0; height:30px; min-height:30px; overflow:hidden; font-size:12px; }


/* เพิ่มเติม */
.related.vdo li:nth-child(1),.related.vdo li:nth-child(2){ max-height:inherit}
.related.vdo li:nth-child(1) a span,.related.vdo li:nth-child(2) a span{ display:block; float:none; width:100%; height:auto; margin:auto }
.related.vdo li:nth-child(1) a span img,.related.vdo li:nth-child(2) a span img{ display:block; width:100%; height:auto; margin:auto; top:auto }
.related.vdo li:nth-child(1) a strong,.related.vdo li:nth-child(2) a strong{ display:block; min-height:inherit}
.related.vdo li:nth-child(1) a span:before,.related.vdo li:nth-child(2) a span:before{ width:60px; height:60px; margin:-15% 0 0 -9%}
.related.vdo li:nth-child(1) a span:after,.related.vdo li:nth-child(2) a span:after{margin:-8.5% 0 0 -2%; border-left: 18px solid #FFF; border-top: 10px solid transparent; border-bottom: 10px solid transparent;}


.premuimJWplayer{ display:none}
.worldJWplayer{ display:none}