body {
	background: #280e19 url("../img/background.jpg") top center no-repeat;
	font-family: "Open Sans";
}

.wrapper {
	width: 940px;
	margin: auto;
}

.row {
	overflow: hidden;
}

.row-logo {
	text-align: center;
	margin-top: 24px;
	margin-bottom: 20px;
}

.menu {
	background: rgba(0, 0, 0, 0.5);	
	padding: 3px 0 3px 2px;
	overflow: hidden;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu a {
	color: #fab5dd;
	text-decoration: none;

	display: block;
	width: 90px;
	float: left;

	text-align: center;
	padding: 2px;
}	

.menu a:hover {
	color: white;
	background: #521034;

}

.slides-image 
{
	width: 330px;
	float: left;
}

.slides-content {
	width: 390px;
	float: right;
	margin-right: 70px;
	margin-top: 50px;

}

.slides-content h2 {
	font-size: 35px;
	text-transform: uppercase;
	color: white;
}

.slides-content h2 span{
	color: #ef2793;
}

.slides-content p {
	font-size: 12px;
	font-family: "Arial";
	color: #ff9ed2;
	line-height: 1.5;
}
.slides-content img {
	margin-top: 50px;
}

.row-slide {
	background: rgba(0, 0, 0, 0.5);
	margin-top: 10px;
	border: 2px #561031 solid;
	border-radius: 8px;
}


