/* social-share */
@font-face {
  font-family: 'social-share';
  src: url("../ds/fo/social-share.eot");
  src: url("../ds/fo/social-share.eot?#iefix") format("embedded-opentype"), 
    url("../ds/fo/social-share.woff") format("woff"), 
    url("../ds/fo/social-share.ttf") format("truetype"), 
    url("../ds/fo/social-share.svg#social-share") format("svg");
  font-weight: normal;
  font-style: normal;
}

.social-share [class*="iconf-"] { 
  font-family: 'social-share'; 
  speak: none; 
  font-style: normal; 
  font-weight: normal; 
  font-variant: normal; 
  text-transform: none; 
  line-height: 25px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-share ul {
  margin: 0;
}
.social-share ul li {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
  padding-bottom: 0;
}
.social-share ul li:first-child a {
  border-left: 1px solid #dfdfdf;
}
.social-share ul li:last-child a {
  border-right: 1px solid #dfdfdf;
}
.social-share ul li a {
  background: #FFF;
  color: #444444;
  position: relative;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #dfdfdf;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.social-share ul li a span {
  display: block;
  padding: 6px 0;
  font-size: 14px;
  font-weight: 700;
}
.social-share ul li a .social-icon {
  padding: 12px 0;
  font-size: 30px;
  color: #FFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.social-share ul li a small {
  display: none;
  padding: 5.5px 0;
  font-size: 14px;
}
.social-share ul li a:hover span {
  display: none !important;
}
.social-share ul li a:hover small {
  display: block;
}
.social-share ul li a.fb-btn .social-icon {
  background-color: #2d5f9a;
}
.social-share ul li a.fb-btn:hover, .social-share ul li a.fb-btn:hover .social-icon {
  background-color: #214773;
  color: #FFF;
}
.social-share ul li a.tw-btn .social-icon {
  background-color: #66cbf9;
}
.social-share ul li a.tw-btn:hover, .social-share ul li a.tw-btn:hover .social-icon {
  background-color: #35baf7;
  color: #FFF;
}
.social-share ul li a.gg-btn .social-icon {
  background-color: #eb4026;
}
.social-share ul li a.gg-btn:hover, .social-share ul li a.gg-btn:hover .social-icon {
  background-color: #cb2b13;
  color: #FFF;
}
.social-share ul li a.pt-btn .social-icon {
  background-color: #d3222a;
}
.social-share ul li a.pt-btn:hover, .social-share ul li a.pt-btn:hover .social-icon {
  background-color: #a71b21;
  color: #FFF;
}

/* read page */
.entry-share {
  float: right;
}
@media only screen and (max-width: 767px) {
  .entry-share {
    margin-bottom: 10px;
  }
}
.entry-share .social-share ul {
  float: left;
}
.entry-share .social-share ul li {
  width: 63px;
}
.entry-share .social-share ul li a {
  color: #444444;
  position: relative;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #dfdfdf;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.entry-share .social-share ul li a span {
  padding: 5px 0;
  font-size: 16px;
  font-weight: 700;
}
.entry-share .social-share ul li a small {
  padding: 6.5px 0;
  font-size: 14px;
}
.entry-share .social-share ul li a .social-icon {
  padding: 3px 0 0;
  line-height: 32px;
  font-size: 25px;
  color: #FFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.iconf-twitter { #zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe615;'); }
.iconf-pinterest { #zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60d;'); }
.iconf-share { #zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61e;'); }
.iconf-facebook { #zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60b;'); }
.iconf-gplus { #zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60c;'); }

.iconf-twitter:before { content: "\e615"; }
.iconf-facebook:before { content: "\e60b"; }
.iconf-gplus:before { content: "\e60c"; }
.iconf-pinterest:before { content: "\e60d"; }

.total-shares { 
    overflow: hidden; 
    float:left; 
    text-align:center; 
    padding-right:35px; 
    color:#adadad; 
    background:url(../di/slash.png) no-repeat right center; 
    position:relative; 
    margin-right:5px; 
}
.total-shares > em { 
    font-size:500%; 
    display:block; 
    font-family: sukhumvitbold; 
    font-weight: 400; 
    line-height:85%; 
    position:relative; 
    font-style:normal; 
    height:48px; 
}

@media only screen and (max-width: 767px) {
  .total-shares { 
        height: 55px; 
        padding-top: 10px; 
        padding-right: 30px; 
        font-size: 80%; 
        margin-right: 5px !important;
    }
  .total-shares > em { 
        line-height: auto; 
        height: auto; 
        font-size: 250% !important;
    }
}