@charset "utf-8";
/* CSS Document */

/*all device*/
@media only screen and (max-width : 959px), (max-device-width: 1024px) {
	body { min-width: auto !important; padding-top: 24px; font-family: Helvetica; -webkit-text-size-adjust: none; background: none;}
	[id="wrapper"] { overflow: hidden; padding-right: 20px; padding-left: 20px;}
	/*****************************************************************/
	 /*main-navigation*/
	[class*="nav-wrap"] { position:inherit !important; }
	[class*="btn-mainnav"] { display: block; position: absolute; z-index: 20; top: 29px; left: 6px; width: 35px; height: 33px; overflow: hidden; text-indent: -9999px; background-position: 6px -463px; border-radius: 3px; -webkit-border-radius: 3px; cursor: pointer; background-image: url(../di/bg-center.png); background-repeat: no-repeat; }
	[id="main-navigation"] { display: none; width: 250px !important; position: fixed !important; top: 0; left: 0; height: 100%; padding-bottom: 100px; padding-left: 0 !important; padding-right: 0 !important; }
	[id="main-navigation"][class*="flyout"] { display: block; overflow: hidden; z-index: 999; }
   	[id="main-navigation"]>ul+ul { display: block;}
   	[id="main-navigation"] ul { background-color: #353535 !important;}
	[id="main-navigation"]>ul {overflow-y: auto; height: 100%; -webkit-overflow-scrolling: touch; -moz-overflow-scrolling: touch; }
	[id="main-navigation"]>ul>li:first-child>a { text-indent: 0; line-height:inherit; }
	[id="main-navigation"] ul * { border-right: none !important; border-left: none !important;}
	[id="main-navigation"] ul>li { width: 100% !important; height: auto; line-height: 42px; }
	[id="main-navigation"]>ul>li:last-child { margin-bottom: 80px;}
   	[id="main-navigation"]>ul>li>a { padding: 0; text-shadow: 0 1px 0 #000; }
	[id="main-navigation"] ul>li>a { display: block !important; float: left; height: auto !important; padding-top: 0 !important; padding-bottom: 0 !important;}
	[id="main-navigation"] ul ul { width: 100%; position: relative !important; top: auto !important; bottom: auto !important; margin-bottom: -16px; }
	[id="main-navigation"] ul li>a { float: left; width: 90.5% !important; padding-left: 5.5% !important; padding-right: 3% !important; color: #aaa !important; font-weight: 400; border-bottom: solid 1px #2d2d2d !important; border-top: solid 1px #444 !important; background: none;}
	[id="main-navigation"] ul>li>ul>li:last-child>a { border-bottom: none;}
	[id="main-navigation"] ul>li>ul>li { height:44px!important; font-size: 1em;}
   	[id="main-navigation"] ul>li>ul>li>a { width: 80.5% !important; padding-left: 15.5% !important; }
	/*****************************************************************/
	/*leaderboard*/
	[class*="leaderboard"] { top: 72px !important; text-align: center;}
	[class*="leaderboard"]>div { padding-left: 0 !important; padding-right: 0 !important;}
	[class*="leaderboard"] div,
	[class*="leaderboard"] a,
	[class*="leaderboard"] img { display: block; width:728px; margin:0 auto; float: none;  }
	/*****************************************************************/
	/*flyout all*/
	[class*="btn-mainnav"],
	[id="main-content"],
	body>footer>div, 
	body>[class*="leaderboard"]>div,
	[class*="logo-channel"]>span,
	[class*="nav-wrap"]>span
	{ -moz-transition: 300ms ease 0s; -moz-transform: translate(0px, 0px); -webkit-transition: 300ms ease 0s; -webkit-transform: translate(0px, 0px); }
	/*****************************************************************/
	a [class="ico-play"] { transition: none; -moz-transition: none; -webkit-transition: none;}
	a:hover [class="ico-play"] { opacity: 1; filter: alpha(opacity=100); }
	/*sidebar*/
	.sidebar [class*="thumbnail-left"] article { margin-left: 0 !important;}

	[class*="btn-mainnav"][class*="flyout"],
	[id="main-content"][class*="flyout"],
	body>footer>div[class*="flyout"], 
	body>[class*="leaderboard"]>div[class*="flyout"],
	[class*="logo-channel"]>span[class*="flyout"],
	[class*="nav-wrap"]>span[class*="flyout"]	
	{  -moz-transition: 300ms ease 0s; -moz-transform: translate(250px, 0px); -webkit-transition: 300ms ease 0s; -webkit-transform: translate(250px, 0px);}
    	[class*="search-content"][class*="flyingout"][class*="flyout"]
	{  -moz-transition: 300ms ease 0s; -moz-transform: translate(250px, 66px); -webkit-transition: 300ms ease 0s; -webkit-transform: translate(250px, 66px);}
	/*****************************************************************/
	[class*="nav-wrap"] [class*="fanpage"] { left: auto!important; top: 31px!important; right:44px; z-index:10; width:30px; height:30px; background-position:6px -672px; position:absolute; background-image: url(../di/bg-center.png); background-repeat: no-repeat; }
	[class*="nav-wrap"] [class*="fanpage"]>a { text-indent:-9999px; display:block; height:30px; }	
	[class*="sanook-search"] { left: auto!important; top: 31px!important; right:10px; z-index:10; line-height: 999px !important; overflow: hidden; text-indent:-9999px !important; width:30px; height:30px; background-position:6px -593px; position: absolute; background-image: url(../di/bg-center.png); background-repeat: no-repeat; cursor: pointer; }
	
	[class*="search-content"] { left: 0; top: 60px; z-index: 1; width:100%; padding: 15px 0 0; overflow: hidden; background-color: #fff; height: 0; border-radius:0; -webkit-box-shadow: 0 3px 2px rgba(165, 165, 165, 0); box-shadow: 0 3px 2px rgba(165, 165, 165, 0);  -moz-transition: all 500ms ease 0s; -webkit-transition: all 500ms ease 0s;}
	[class*="search-content"][class*="flyingout"] { z-index: 9; height: 49px; -webkit-box-shadow: 0 3px 2px rgba(165, 165, 165, 0.4); box-shadow: 0 3px 2px rgba(165, 165, 165, 0.4); -moz-transition: all 300ms ease 0s; -webkit-transition: all 300ms ease 0s;}
	[class*="search-content"]>div { margin: 6px 8px; padding: 3px; border: 1px solid #ccc; background: #fff; border-radius: 3px 3px 3px; }
	[class*="search-content"] input[type="text"] { height: 26px; }
	[class*="search-content"] input[type="submit"] { right: 10px; top: 23px; text-indent: 0; width: auto; height: 30px !important; padding: 0 15px 2px !important; background-color: #eee; color: #333; border-radius: 5px; font-family: sukhumvitbold; font-size: 1.1em; font-weight: 400; background-image: none;}
	[class*="logo-channel"][class*="fixedtop"] { position: fixed; top: 0;}
	[class*="btn-mainnav"][class*="fixedtop"] { position: fixed; top: 5px;}
	
	/*****************************************************************/
	[class*="credit"][class*="_fchild"][class*="-fl"]>*:first-child { width:auto; }
	
	[class*="sort-option"]>div>select, [class*="sort-result"] select { border-radius:3px; background:#fff; border:1px solid #bdbdbd; height:35px; padding-left:5px; }
	/*****************************************************************/
	[class*="ico-time"] { background-image: url(../di/ico-time.png); background-repeat: no-repeat; background-position: left 41%;  }
	[class*="ico-pv"] { background-image: url(../di/ico-view.png);  background-repeat: no-repeat; background-position: left 39%;  }
	[class*="ico-comment"] { background-image: url(../di/ico-comment.png);  background-repeat: no-repeat; background-position: left 40%; }	
	
	[class*="gallery"] #content figure figcaption { position:inherit; padding:3px 0 0; height:auto; }
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]>div small { height: auto; box-sizing: border-box;}
	
}
/*****************************************************************/
/*tablet portrait and landscape*/
@media only screen and 
(min-width: 768px) and (max-width : 959px), 
(min-device-width: 768px) and (max-device-width: 1024px) {
	h3 { margin-bottom: 5px;}
	/********************/	
	[id="wrapper"][class*="read"] [class*="photo-read"] img,
	[id="wrapper"][class*="read"] [class*="credit"] img
	{ height: 100px !important; width: auto !important;}
	input[type="text"] { -webkit-appearance: none; }
	/*****************************************************************/
   	/* Styles */
	[class*="logo-channel"] { width: 100%; background-color: #fff;}
	[class*="_child"][class*="-grid-12"]>*, [class*="_self"][class*="-grid-12"] { padding: 0 10px;}
	[class*="sidebar"] [class*="_child"][class*="-grid-4-4x"]>article { width: 100%;}
	   
	[class*="_child"][class*="-grid-"]>* img { width: 100%; height: auto;}
    
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*,
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*,
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*+*+*,
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*+*+*+*+*
	{ margin-left: 0; } 
	/*****************************************************************/
	[id="wrapper"][class*="read"] [class*="photo-read"] img, [id="wrapper"][class*="read"] [class*="credit"] img { height: 100px !important; width: auto !important;}	
	/*****************************************************************/
	[id="main-content"][class*="grid"] { margin-top: 150px;}
	/*****************************************************************/
	[class*="_child"][class*="-grid-4-4x"]>article,
	[class*="hl"][class*="thumbnail-left"]>[class*="_child"][class*="-grid-4-4x"] article
	{ margin-top: 0; margin-bottom: 20px; }
	/*****************************************************************/
	/*highlight*/
	[class*="flex-control-paging"]>li { line-height: 1;}
	
	[class*="thumb"] [class*="_child"]>article { margin-bottom: 15px;}
	[class*="-list"] [class*="_child"]>ul>li { max-height: none; overflow: auto; margin-bottom: 2px;}
	
	/*sidebar*/
	.sidebar [class*="thumbnail-left"] article h3 a { }
	
	/* archive */
	[id="sanook-top-search"] { height: auto;}
	[class*="sort-result"] label { cursor:text; }
	[class*="sort-result"] select { position:relative!important; margin:4px 0 0; }
	[class*="sort-option"]>div>select, [class*="sort-result"] select { border-radius:3px; background:#fff; border:1px solid #bdbdbd; height:35px; padding-left:5px; }
	[class*="sort-option"]>div>select { min-width:200px; }
	[class*="sort-result"] select { position:relative; top:-9px; }
	[class*="archive-list"] article>div { width: 79%; margin-right: 0;} 
	[class*="archive-list"] article>div>a { width: 140px !important;}
	/*****************************************************************/
	/*read*/
	[class*="ct-read"] object, [class*="ct-read"] iframe { width: 100%; height: auto;}
	/*****************************************************************/
	/* poll-box */
	.poll-box>div { background-size: cover!important; }
	[class*="poll-box"] [class*="poll-wrapper"] { width:43%; }
	/*****************************************************************/
	/*hide content*/
	nav[class*="breadcrumb"],
	[id="main-navigation"]>ul>li.last,
	[class*="truehit"], 
	[class*="sidebar"]>[class*="spon"],
	[class*="_child"][class*="-grid-4-4x"][class*="_mo-achild-imgleft"]>article:first-child~* p,
	[class*="thumbnail-left"] [class*="_child"] p,
	[class*="ads125"],
	[id="ads-wrap"],
	[class*="ads-tab"],
	[class*="truehit"],
	[class*="sidebar"] [class*="fb-like-box"],
	[id="google-ads-box"],
	[class*="sort-result"] label,
	[class*="flex-direction-nav"]
	{ display: none !important}
	
	[class*="seotag"] 
	{ position:absolute; left:-9999px; top:0; }
	
	[class*="-hl"][class*="thumbnail-left"] [class*="_child"] .hl-channel p { display:block!important; }
	
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	body { font-size: 1.55em;}
	[class*="_self"][class*="-grid"],  [class*="_child"][class*="-grid-12"]>* { width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; }
	[class*="_child"][class*="-grid-8-4x"]>*:first-child { width: 100%;}
	[class*="_child"][class*="-grid-8-4x"]>*:first-child+* { width: 100%; margin-left: 0;}
	[class*="sidebar"]>[class*="contact"] { float: right !important; clear: right !important;}
	
	[class*="_fchild"][class*="-fl"]>*:first-child { width: 140px;}
	/*****************************************************************/
	/*sidebar*/
	[class*="sidebar"]>* { width: 48.5%; clear: both;}
	[class*="sidebar"] [class*="related-box"]>* { width: 100%;}
	[class*="sidebar"] [class*="related-box"] aside article>*:first-child { width: 80px;}
	/*archive*/
	[class*="archive-list"] article>div { width: 78%; margin-right: 0;}
	/*****************************************************************/
	/*archive gallery*/
	[class*="archive-gallery-list"]>a { width: 31% !important; margin-right:3.3%!important; }
	[class*="archive-gallery-list"]>a:first-child, [class*="archive-gallery-list"]>a:nth-child(3n+1) { margin-left: 0 !important;}

	[class*="sort-result"] select { min-width: 140px; }
	/*****************************************************************/
	/*layout for theme box*/
	[class*="hl-channel"] { width: 48.5% !important;}
	[class*="_child"][class*="-grid-4-4x"]>*	 { width: 48.5% !important;}
	[class*="-list"] [class*="_child"]>ul	 { width: 48.5% !important;}
	[class*="_child"][class*="-grid-4-4x"] [class*="-list"] [class*="_child"]>ul	 { width: 100% !important;}
	[class*="-hl-6thumb-list"] [class*="hl-channel"] { width: 48.5% !important;}
	[class*="thumb"] [class*="_child"]>article,
	[class*="thumb"] [class*="_child"]>li,
	[class*="thumb"] [class*="_child"]>ul,
	[class*="hl"] [class*="_child"]>article,
	[class*="hl"] [class*="_child"]>li,
	[class*="hl"] [class*="_child"]>ul,
	[class*="thumb"] [class*="_child"][class*="-mg"][class*="_l20x"]>article,
	[class*="thumb"] [class*="_child"][class*="-mg"][class*="_l20x"]>li
	{ margin-left: 2.6%; }
	 
	[class*="_child"][class*="-grid-2-2-2-2x"]>* { margin-left: 2.6%!important; }
	  
	[class*="_child"][class*="-grid-4-4x"] [class*="thumb"] [class*="_child"]>article,
	[class*="_child"][class*="-grid-4-4x"] [class*="thumbonly"] [class*="_child"]>li,
	[class*="_child"][class*="-grid-4-4x"] [class*="thumb-ver"] [class*="_child"]>li:not(.hl-channel),
	[class*="hl"][class*="thumbnail-left"] [class*="_child"][class*="-grid-4-4x"] [class*="hl-channel"]
	{ width: 47.5% !important;}
	[class*="_child"][class*="-grid-4-4x"] [class*="hl-channel"], 
	[class*="_child"][class*="-grid-4-4x"] [class*="thumb"] [class*="_child"]>article[class*="hl-channel"],
	[class*="_child"][class*="-grid-4-4x"] [class*="thumb"] [class*="_child"]>ul,
	[class*="_child"][class*="-grid-4-4x"] [class*="thumbnail-left"] [class*="_child"]>article,
	[class*="_child"][class*="-grid-2-2-2-2x"] [class*="thumb"] div>article,
	[class*="_child"][class*="-grid-2-2-2-2x"] [class*="thumb"] div>ul
	{ width: 100% !important;}
	
	[class*="_child"][class*="-grid-4-4x"] [class*="_child"]>* { margin-left: 5% !important;}
	[class*="thumb"] [class*="_child"]>article, [class*="thumb"] [class*="_child"]>li, [class*="_child"][class*="-grid-2-2-2-2x"]>* { width: 23%;}

	[class*="_self"][class*="-pd"][class*="_s10x"] { width: 45.5%; padding-left: 1.5%; padding-right: 1.5%;}
	[class*="sidebar"] [class*="thumbonly"] ul>li { width: 47.5%;}
	[class*="sidebar"] [class*="thumbonly"] ul>li+li { margin-left: 5% !important;}
	
	[class*="thumb"] [class*="_child"][class*="-grid-4-4x"] [class*="_child"]>article, 
	[class*="thumb"] [class*="_child"][class*="-grid-4-4x"] [class*="_child"]>li { width: 47.5% !important;}
	
	[class*="hl"] [class*="_child"]>[class*="hl-channel"]:first-child, 
	[class*="-hl"] [class*="_child"]>[class*="hl-channel"]:first-child+*+*+*+*+*, 
	[class*="-hl"][class*="-ver"] [class*="_child"]>[class*="hl-channel"]:first-child+*,
	[class*="thumb"] [class*="_child"]>*:first-child, 
	[class*="thumbonly"] [class*="_child"]>*:first-child+*+*+*+*, 
	[class*="thumb-list-ver"] [class*="_child"]>*:first-child+*+*, 
	[class*="-4thumb-list-hor"] [class*="_child"]>*:first-child+*+*+*+*,
	[class*="_child"][class*="-grid-4-4x"]>*:first-child, 
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*, 
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*, 
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*+*+*, 
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+ *+*+*+*+*+*+*, 
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*+*+*+*+*+*+*, 
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*+*+*+*+*+*+*+*+*, 
	[class*="_child"][class*="-grid-2-2x"]>*:first-child+*+*, 
	[class*="_child"][class*="-grid-2-2x"]>*:first-child+*+*+*+*, 
	[class*="_child"][class*="-grid-2-2x"]>*:first-child+*+*+*+*+*+*,
	[class*="_child"][class*="-grid-4-4x"] [class*="_child"]>*:first-child,
	[class*="_child"][class*="-grid-4-4x"] [class*="thumb"] [class*="_child"]>ul,
	[class*="_child"][class*="-grid-4-4x"] [class*="_child"]>ul,
	[class*="thumb-list-ver"] [class*="_child"][class*="-grid-4-4x"] [class*="_child"]>*:first-child+*+*,
	[class*="_child"][class*="-grid-2-2-2-2x"]>*:first-child
	{ margin-left: 0 !important; clear:left; }
	
	/*layout for gallery sidebar*/	
	[class*="sidebar"] [class*="gallery"] { width: 45.5%; padding-left: 1.5%; padding-right: 1.5%;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"] { width: 100% !important; margin-left: 0;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]>div { width: 100%; box-sizing: border-box; height: auto;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]~article, [class*="sidebar"] [class*="gallery"] article:not(.hl-channel) { width: 47.5%; margin-left: 5%;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]+article, [class*="sidebar"] [class*="gallery"] article:first-child { margin-left: 0!important; }	
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]~article small { position: relative; right: auto; top: auto; background: none;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]~article small:before { content: "(";}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]~article small:after { content: ")";}
	/*hide content*/
	[class*="webboard"],
	[id="wrapper"][class*="read"] [class*="sidebar"] [class*="related-box"]~*,
	[id="wrapper"][class*="read"] [class*="sidebar"] [class*="related-box"]>*:first-child~*,
	[id="wrapper"][class*="archive"] [class*="sidebar"],
	[id="wrapper"][class*="read"] [id="sidebar"] .poll-side,
	.reader>aside
	{ display: none; }	
	[id="wrapper"][class*="read"] [id="sidebar"] 
	{ position:absolute; left:-9999px; }
	
	.total-shares { line-height: 16px; }
	.social-share ul li a .social-icon { padding: 13px 0 5px !important; }

}

/*mobile portrait and landscape*/
@media only screen and (max-width: 767px) {
    /*clear float*/
	body { font-size: 1.75em;}
	[id="wrapper"] { padding-left: 10px; padding-right: 10px;}
    [id="main-navigation"] ul>li:after, [class*="_child"][class*="-grid-4-4x"] li:after, [class*="sidebar"] li, 
	body>footer>div:after, [class*="leaderboard"]:after
	{ content: ' '; display: block; clear: both;}
	/*****************************************************************/

	[class*="thumb"] [class*="_child"] p>a, 
	[class*="thumb"] [class*="_child"][class*="-fl"] li>a, 
	[class*="sidebar"] aside>ul>li>a, 
	[class*="sidebar"] [class*="thumbnail-left"] h3>a
	{}
	
	[class*="thumbnail-left"] article { height: auto;}

	[class*="-list"] [class*="_child"]>ul { width:100%!important; }
	[id="main-content"]>div { width:100%; }
	[class*="_child"][class*="-grid-12"]>*, [class*="_self"][class*="-grid-12"], 
	[class*="_child"][class*="-grid-8-4x"]>*:first-child, [class*="_child"][class*="-grid-8-4x"]>*:first-child+*
	{ width: 100%!important; margin: 0 auto; padding: 0 !important; }
	[id="main-content"][class*="_self-grid-12-ps_rel-pd_t20x_b20x"] { margin: 63px auto 0; padding-left: 0; padding-right: 0; width:100%; z-index:5; }
	[class*="_child"][class*="-grid-2-2-2-2x"] [class*="thumb"] div>article,
	[class*="_child"][class*="-grid-2-2-2-2x"] [class*="thumb"] div>ul
	{ width: 100%!important; }
	/******************************************************	***********/
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*, 
	ul[class*="_child"][class*="-grid-4-4x"]>li:nth-child(2n),
	[class*="_child"][class*="-grid-4-4x"]>article:nth-child(2n)
	{ margin-left: 0 !important; }
	[class*="_child"][class*="-grid-4-4x"], [class*="_child"][class*="-grid-4-4x"]>* { width: 100%!important; }
	[class*="_child"][class*="-grid-"]>* img { width: 100%; height: auto;}
	[class*="_child"][class*="-grid-"]>section:first-child { margin-bottom: 20px;}
	[class*="_child"][class*="-grid-8-4x"] [class*="sidebar"] { margin-left: 0 !important;}
	/*****************************************************************/
	[class*="resize-mb"] a>img { width: auto; }
	[class*="_fchild"][class*="-fl"]>*:first-child+* { overflow: hidden;}
	/*****************************************************************/
	[class*="_child"][class*="-grid-4-4x"]>article,
	[class*="hl"][class*="thumbnail-left"]>[class*="_child"][class*="-grid-4-4x"] article
	{ margin-top: 0; margin-bottom: 20px; }
	/*****************************************************************/
   	a img[width="140"], a img[width="300"], [class*="highlight"] img, [class^="leaderboard"] img { width: 100%; height: auto; }
	[class*="highlight"] [class*="slides"] li div { position: relative; padding-top: 20px; padding-bottom: 9px; box-sizing: border-box; height: 85px; bottom: auto;}
	/****************/
	[class*="leftthumb-xs"] { width: 100% !important; margin-left: 0 !important; margin-bottom: 20px !important;}
	[class*="leftthumb-xs"]>*:first-child { float: left; margin-right: 3%;}
	[class*="leftthumb-xs"]>*:first-child img { width: 120px; height: auto;}
	section [class*="hl-channel"][class*="leftthumb-xs"] { width: 100% !important; margin-left: 0 !important; margin-bottom: 15px !important; background: none;}
	section [class*="hl-channel"][class*="leftthumb-xs"] h3 { font-size: 1em; line-height: 1.4;}
	section [class*="hl-channel"][class*="leftthumb-xs"] h3 a { color: #1f1b1a !important;}
	section [class*="hl-channel"][class*="leftthumb-xs"]>div { padding-left: 0; padding-right: 0;}
	[class*="hl-channel"] div { height: auto !important; padding-top: 0; border: none;}
	[class*="thumbnail-left"] article[class*="leftthumb-xs"] { height: auto;}
	
	/*****************************************************************/
	[class*="sidebar"] [class*="related-box"] aside article>*:first-child { width: 80px;}
	/*poll-box*/
	.poll-side { padding-left: 10px !important; padding-right: 10px !important;}
	/*****************************************************************/
	/*archive*/
	[id="wrapper"][class*="archive"] header { line-height: 1.15;}
	[id="wrapper"][class*="archive"] header h1, [id="wrapper"][class*="archive"] header p { font-size: 1.75em !important;}
	[id="wrapper"][class*="archive"] [id="content"] select[id*="sort-"] { font-size: 1em;}
	[class*="sort-option"] { margin-bottom: 0 !important; padding-bottom: 5px !important;}
	[class*="sort-option"]>div, [class*="sort-option"]>div>select { width: 100%;}
	[class*="sort-option"] label { width: 100%; padding:0; box-sizing: border-box; line-height: 1; height: 38px;}
	[class*="sort-option"] input[type="text"] { margin-left: 5px; width: 100%; padding-left: 0; font-size: 1em; padding-left: 3px; padding-right: 40px; box-sizing: border-box; height: 100%;}
	[class*="sort-result"]>div>ul>li { background:none; margin-right:0!important; }
	[class*="archive-list"] article>div { width: 100%; margin-right: 0 !important; float: none !important; border-right: none; }
	[class*="archive-list"] article>div>a { width: 120px;}
	#wrapper[class*="archive"] [class*="archive-list"] { margin-bottom: 0 !important}
	[class*="archive-list"] h2, [class*="archive-list"] h3 { padding-right: 0; font-weight: 400 !important;}
	[class*="archive-list"]>*>*>*:first-child { width: 120px;}
	[class*="archive-list"]>*>*:first-child>div { float:none; width:auto!important; margin-left:0!important; }
	[class*="archive-list"]>*>*:first-child>div>h2~p { display:none; }
	[class*="archive-list"] footer { position: relative !important; float: left; padding-left: 0 !important; left: 0; top: auto !important;}
 	[class*="archive-list"] footer>div>span { width: auto !important;} 
	[class*="archive-list"] footer>div>span+span { margin-left: 5px;}
	[class*="archive-list"] footer>div>time { float: none; padding-bottom:0!important; }
	[id="wrapper"][class*="archive"] [class*="archive-list"] footer span { display: inline !important; }
	[class*="archive-list"] footer>div>* { margin-bottom: 2px;}

	/*****************************************************************/
	[id="wrapper"][class*="archive"] [class*="mo-filter"], [id="wrapper"][class*="gallery"] [class*="mo-filter"] { display: block !important; margin-top: 3px;}
	[id="wrapper"][class*="archive"] [class*="mo-filter"] label, [id="wrapper"][class*="gallery"] [class*="mo-filter"] label  { display: block; font-family: sukhumvitbold; font-size: 1.2em; padding-left: 9px;}
	[id="wrapper"][class*="archive"] [class*="mo-filter"] select, [id="wrapper"][class*="gallery"] [class*="mo-filter"] select { position: relative; width: 100%; border-radius:3px; background:#fff; border:1px solid #bdbdbd; height:35px; padding-left:3px; box-sizing: border-box;}
	/*****************************************************************/
	/*read*/
	[id="wrapper"][class*="read"] [id="content"]>article header h1 { font-size: 1.9em;}
	.reader .sidebar { padding-top: 15px;}
	.reader .sidebar aside h2 { font-size: 1.7em;}
	.reader .sidebar aside h3 { font-size: 1em;}
	.reader .sidebar aside>ul { margin-bottom: 10px;}
	.reader .sidebar aside>ul>li { border-bottom: dotted 1px #d2d2d2; padding-bottom: 8px; padding-top: 2px;display: inline-block; width: 100%; box-sizing: border-box;}
	
	/*more*/
	[id="content"] section>a,
	[class*="sidebar"] aside>a,
	[class*="sidebar"] aside>div>a
	{ display: block !important; width: 100%; padding: 7px 0 7px 0; color: #565656 !important; background-color: #e4e4e4; line-height: 1.3; text-align: center; border-radius: 5px; font-family: sukhumvitbold; font-size: 1.2em;}
	[id="content"] section>a:before,
	[class*="sidebar"] aside>a:before,
	[class*="sidebar"] aside>div>a:before
	{content: "+ รวม";}
	[id="content"] section>a:after,
	[class*="sidebar"] aside>a:after,
	[class*="sidebar"] aside>div>a:after
	{content: "ทั้งหมด";}
	/*****************************************************************/
	/*pager*/
	#wrapper a[class*="pager"] { width: 100%; height: 40px; padding-top: 0; padding-bottom: 0; border-radius: 8px; background-color: #ccc; color: #353535 !important; line-height: 2; font-size: 1.2em; font-family: sukhumvitbold; font-weight: 400;}
	#wrapper a[class*="pager"]:before, #wrapper a[class*="pager"]:after { content: "";}
	/*leaderboard*/    
	[class*="leaderboard"] { position: relative !important; overflow: hidden; top: auto !important; z-index: 5; width: 100%;}
	[class*="leaderboard"]>* { padding:0 !important; height: auto;}
	[class*="leaderboard"]>*>* { float: none;}
	[class*="leaderbaord"][class*="null"] { display: none !important;}
   	 /*ads-mobile*/
	[class*="ads-mobile"] { display: block; padding-top: 7px; margin-left: -10px; margin-right: -10px; margin-top: -89px; margin-bottom: 15px !important; width: auto !important; height: 67px; -moz-transition: margin-top 300ms ease 0.5s; -webkit-transition: margin-top 300ms ease 0.5s; background: rgb(238,238,238);
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); }
	[class*="ads-mobile"][class*="slidein"] { margin-top: -10px; -moz-transition: margin-top 300ms ease 3s; -webkit-transition: margin-top 300ms ease 3s; }
	[class*="ads-mobile"]>div { width: 300px; margin: 0 auto;}
	[class*="ads-mobile"]>div span { display: block;}
	[class*="ads-mobile"] img { width: 57px; height: 57px;-webkit-border-radius: 14px;border-radius: 14px;  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2); }
	[class*="app-close"] { display: block; width: 24px; height: 24px; text-indent: -9999px; right: 6px; top: 6px; background: url(../di/app-close.png) no-repeat;}  
	/* pagenotfound */
	[class="pagenotfound"]>p { }
	[class="pagenotfound"]>p>span {  }
	
	.sh-api  { float: none !important; width: 295px; margin: 0 auto 20px; clear:both;}
	.resize { float:right; }
	/*hide content*/
	[class*="_child"][class*="-grid-4-4x"][class*="_mo-achild-imgleft"]>article:first-child~* p,
	[class*="_child"][class*="-grid-4-4x"] article p,
	[id="main-navigation"]>ul>li.last,
	[class*="truehit"], 
	nav[class*="breadcrumb"],
	[class*="webboard"],
	[class*="sidebar"]>[class*="spon"],
	[class*="highlight"] article p,
	[class*="hl-channel"] p,	
	[class*="ads125"],
	[id="ads-wrap"],
	[class*="ads-tab"],
	[class*="truehit"],
	[class*="sidebar"] [class*="fb-like-box"],
	[id="google-ads-box"],
	[class*="sort-result"] label,
	[class*="flex-direction-nav"],
	[id="wrapper"][class*="archive"] [class*="sidebar"]
	[id="wrapper"][class*="archive"] [class*="sort-result"],
	[class*="sort-stat"],
	[class*="archive-footer"] span,
	[class*="archive-list"] article>div>p,
	[id="wrapper"][class*="read"] [id="sidebar"],
	nav[class*="pager"],
	[id="wrapper"][class*="archive"] [class*="sort-result"],
	[id="wrapper"][class*="archive"] [class*="sidebar"],
	[id="wrapper"][class*="gallery"] [class*="sort-result"],
	[id="wrapper"][class*="gallery"] [class*="sidebar"],
	div[display="null"],
	[id="wrapper"][class*="read"] .read-stat>div small:last-child,
	[id="wrapper"][class*="read"] .read-stat>div small+span,
	.reader>aside
   	 { display: none !important;}	
	 
	 a[class*="pager"] { display: block;}
	 	
	[class*="seotag"] 
	{ position:absolute; left:-9999px; top:0; }
	
	/*font size*/
	[id="content"] section h2 { font-size: 1.8em;}
	[id="wrapper"][class*="archive"] [id="content"] section>h2 { line-height: 1.2; margin-bottom: 10px !important;}
	
	.ui-tabs-nav li { clear: none;}
	
	/*provider*/
	.provider { width: auto; }
	
	/*archive gallery*/
	[class*="gallery"] [id="content"] figure img { box-sizing: border-box;}
}
/*mobile portrait*/
@media only screen and (max-width: 767px) and (orientation: portrait) {
	/*layout for theme box*/
	[class*="thumb"] [class*="_child"]>article, 
	[class*="thumb"] [class*="_child"]>li,
	[class*="_child"][class*="-grid-2-2-2-2x"]>*
	{ width: 47.5%;}
	[class*="thumbnail-left"] [class*="_child"]>article, [class*="thumbnail-left"] [class*="_child"]>li	 { width: 100%;}
	[class*="hl-channel"] { width: 100% !important; height: auto;}
	
	[class*="thumb"] [class*="_child"]>article,
	[class*="thumb"] [class*="_child"]>li,
	[class*="thumb"] [class*="_child"]>ul,
	[class*="hl"] [class*="_child"]>article,
	[class*="hl"] [class*="_child"]>li,
	[class*="hl"] [class*="_child"]>ul,
	[class*="thumb"] [class*="_child"][class*="-mg"][class*="_l20x"]>article,
	[class*="thumb"] [class*="_child"][class*="-mg"][class*="_l20x"]>li
	 { margin-left: 5%;}
	[class*="_child"][class*="-grid-2-2-2-2x"]>* { margin-left: 5%!important; }
	[class*="thumb"] [class*="_child"][class*="-mg"][class*="_l20x"]>article:first-child,
	[class*="thumb"] [class*="_child"][class*="-mg"][class*="_l20x"]>li:first-child,
	[class*="hl"] [class*="_child"]>ul
	{ margin-left:0; }
	
	[class*="_child"][class*="-grid-2-2-2-2x"]>*:nth-child(2n+1) { margin-left:0!important; clear:left; }
	[class*="hl-channel"][class*="tothumb"]
	 { width: 47.5% !important; background:none; padding:0; }
	[class*="hl-channel"][class*="toleftthumb"]
	{ background:none; padding:0; }
	[class*="hl-channel"][class*="tothumb"] div, [class*="hl-channel"][class*="toleftthumb"] div { padding:0; height:auto!important; }
	[class*="hl-channel"][class*="toleftthumb"]>*:first-child { float:left; margin-right:3%; }
	[class*="hl-channel"][class*="toleftthumb"] img { width:100px; }
	/*[class*="-2hl-"] [class*="hl-channel"]+* ,
	[class*="-2hlonly"] [class*="hl-channel"]+*,
	[class*="change-1hl"] [class*="_child"]>article,
	[class*="change-1hl"] [class*="_child"]>li,
	[class*="change-1hl"][class*="-2hl"][class*="thumbnail"] [class*="_child"]>article:nth-child(2n+1),
	[class*="change-1hl"][class*="-2hl"][class*="thumbnail"] [class*="_child"]>li:nth-child(2n+1),
	[class*="-hl"][class*="thumb"] [class*="_child"]>[class*="hl-channel"][class*="tothumb"]~article,
	[class*="-hl"][class*="thumb"] [class*="_child"]>[class*="hl-channel"][class*="tothumb"]~li
	{ margin-left: 5% !important;}*/
	/*****************************************************************/
	[class*="_fchild"][class*="-mg"][class*="_r10x"]>*:first-child { margin-right: 3%;}
	/*****************************************************************/
	[class*="hl-channel"]+*,
	[class*="-hl"][class*="thumb-list"] [class*="_child"]>article:nth-child(2n),
	[class*="thumb"] [class*="_child"]>ul,
	[class*="-hl"][class*="thumbnail"] [class*="_child"]>article:nth-child(2n),
	[class*="-hl"][class*="thumbnail"] [class*="_child"]>li:nth-child(2n),
	[class*="-2hl"][class*="thumbnail"] [class*="_child"]>article:nth-child(2n+1),
	[class*="-2hl"][class*="thumbnail"] [class*="_child"]>li:nth-child(2n+1),
	[class*="thumbonly"] [class*="_child"]>article:nth-child(2n-1),
	[class*="thumbonly"] [class*="_child"]>li:nth-child(2n-1),
	[class*="thumb-list"] [class*="_child"][class*="-grid-4-4x"]>*,
	[class*="thumb-list"] [class*="_child"][class*="-grid-4-4x"]>*>article:first-child,
	[class*="-4thumb-list-ver"] [class*="_child"][class*="-grid-4-4x"]>*>article:nth-child(2n-1),
	[class*="-4thumb-list-hor"] [class*="_child"]>article:nth-child(2n-1),
	[class*="_child"][class*="-grid-4-4x"]>*:first-child,
	[class*="_child"][class*="-grid-4-4x"] [class*="thumbonly"]:first-child,
	[class*="_child"][class*="-grid-4-4x"] [class*="thumbonly"] [class*="_child"]>article:first-child,
	[class*="_child"][class*="-grid-4-4x"] [class*="thumbonly"] [class*="_child"]>li:first-child,
	[class*="_child"][class*="-grid-4-4x"] [class*="-2thumb-list-ver"]:first-child,
	[class*="_child"][class*="-grid-4-4x"] [class*="-2thumb-list-ver"] [class*="_child"]>article:first-child,
	[class*="_child"][class*="-grid-4-4x"] [class*="-hl"][class*="-ver"]:first-child,
	[class*="change-1hl"][class*="-2hl"][class*="thumbnail"] [class*="_child"]>article:first-child,
	[class*="change-1hl"][class*="-2hl"][class*="thumbnail"] [class*="_child"]>li:first-child,
	[class*="change-1hl"][class*="-2hl"][class*="thumbnail"] [class*="_child"]>article:nth-child(2n),
	[class*="change-1hl"][class*="-2hl"][class*="thumbnail"] [class*="_child"]>li:nth-child(2n),
	[class*="change-thumb"][class*="-hl"][class*="thumb"] [class*="_child"]>article:nth-child(2n+1),
	[class*="change-thumb"][class*="-hl"][class*="thumb"] [class*="_child"]>li:nth-child(2n+1),
	[class*="-hl"][class*="thumb"] [class*="_child"]>[class*="hl-channel"][class*="tothumb"]~article[class*="tolist"],
	[class*="-hl"][class*="thumb"] [class*="_child"]>[class*="hl-channel"][class*="tothumb"]~li[class*="tolist"]
	{ margin-left: 0 !important; clear:left; }
	/******************************************************************/
	[class*="-4thumbonly"] [class*="_child"]>article:nth-child(2n-1),
	[class*="change-1hl"][class*="-2hl-4thumbnail"] [class*="_child"]>article:nth-child(2n),
	[class*="change-1hl"][class*="-2hl-4thumbnail"] [class*="_child"]>li:nth-child(2n),
	[class*="change-thumb"][class*="-hl"][class*="thumb"] [class*="_child"]>article:nth-child(2n+1),
	[class*="change-thumb"][class*="-hl"][class*="thumb"] [class*="_child"]>li:nth-child(2n+1)
	{ clear:left; }
	[class*="hl-channel"][class*="tothumb"]+*,
	[class*="change-1hl"][class*="-2hl"][class*="thumbnail"] [class*="_child"]>article:nth-child(2n+1),
	[class*="change-1hl"][class*="-2hl"][class*="thumbnail"] [class*="_child"]>li:nth-child(2n+1),
	[class*="change-thumb"][class*="-hl"][class*="thumb"] [class*="_child"]>article:nth-child(2n),
	[class*="change-thumb"][class*="-hl"][class*="thumb"] [class*="_child"]>li:nth-child(2n),
	[class*="change-thumb"][class*="-hl"] [class*="_child"]>[class*="hl-channel"]:first-child+*+*+*+*+* 
	{ clear:none!important; }
	/******************************************************************/
	[class*="tolist"] { width: 100% !important; margin-left: 0 !important; margin-bottom: 4px !important; clear: both; float:none !important; background-color: transparent!important; }
	[class*="hl-channel"][class*="tolist"] { margin-left:0!important; }
	[class*="tolist"] h3 { margin-top: 0 !important; margin-bottom: 0 !important; overflow: visible !important; padding-left: 15px; font-weight:100; }
	[class*="tolist"]>div { padding:0; height:auto!important; border-bottom:0!important; }
	[class*="tolist"] img { display: none;}
	/*****************************************************************/
	[id="wrapper"][class*="index"] [id="content"] [class*="-4thumbnail-left"] div>* { width: 100% !important;}
	[class*="thumbnail-left"] [class*="_child"]>li { width: 100% !important; padding: 0 !important;}
	[id="content"] [class*="thumbnail-left"] [class*="_fchild"] img { width: 100px; height: auto;}
	[class*="sidebar"] [class*="-2thumbonly"] ul>li { width: 47.5%; clear: none;}
	[class*="sidebar"] [class*="-2thumbonly"] ul>li+li { margin-left: 5% !important;}
	/*****************************************************************/
	/*layout for gallery sidebar*/	
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"] { width: 100% !important; margin-left: 0;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]~article, [class*="sidebar"] [class*="gallery"] article:not(.hl-channel) { width: 47.5%;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]+article, [class*="sidebar"] [class*="gallery"] article:first-child { margin-left: 0;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]+article+article { margin-left: 5% !important;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]>div { position: relative; left: 0; bottom: 0; width: auto; height: auto !important;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"] small { top: 2px !important; right: 2px;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"] small>span { margin-bottom: -3px;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]~article small { position: relative; right: auto; top: auto; background: none;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]~article small:before { content: "(";}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]~article small:after { content: ")";}
	
	/*archive gallery*/
	[class*="archive-gallery-list"]>a { width: 46.5% !important; margin-right: 0 !important; margin-left: 6% !important;}
	[class*="archive-gallery-list"]>a:first-child, [class*="archive-gallery-list"]>a:nth-child(2n+1) { margin-left: 0 !important;}  
	[class*="archive-gallery-list"]>a:nth-child(2n+1) { clear: left;} 
	
}
/*mobile landscape*/
@media only screen and (max-width: 767px) and (orientation: landscape) {
	[class*="hl-channel"] { height: auto !important; background: none !important; margin-bottom:0!important; }
	[class*="hl-channel"] div { padding: 0 !important; }
	/*****************************************************************/
	[class*="hl"] [class*="_child"]>[class*="hl-channel"]:first-child,
	[class*="thumb"] [class*="_child"]>ul,
	[class*="hl"] [class*="_child"]>ul,
	[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*,
	[class*="_child"][class*="-grid-2-2-2-2x"]>*:nth-child(3n+1)
	 { margin-left: 0 !important; clear:left!important; }
	[class*="thumb"] [class*="_child"] article:nth-child(3n+1),
	[class*="thumb"] [class*="_child"]>li:nth-child(3n+1),
	[class*="hlonly"] [class*="_child"]>article:nth-child(3n+1),
	[class*="hlonly"] [class*="_child"]>li:nth-child(3n+1)
	 { clear: left !important; margin-left: 0 !important;}
	[class*="thumb"] [class*="_child"]>ul { clear: left !important; margin-left: 0 !important;}
	[class*="thumbnail-left"]>[class*="_child"]>article,
	[class*="_child"] [class*="thumbnail-left"]>[class*="_child"]>article,
	[class*="-list"] [class*="_child"]>ul
	 { width: 100%!important;}
	[class*="thumbnail-left"] [class*="_child"]>li { width: 100% !important; padding: 0 !important;}
	[class*="_fchild"][class*="-mg"][class*="_r10x"]>*:first-child { margin-right: 2%;}
	/*****************************************************************/
	[class*="thumb"] [class*="_child"] [class*="tolist"], [class*="-hl"] [class*="_child"] [class*="tolist"] { width: 100% !important; margin-left: 0 !important; margin-bottom: 4px !important; clear: both !important; float: none !important; }
	article[class*="tolist"] h3 { margin-top: 0 !important; margin-bottom: 0 !important; overflow: visible !important; padding-left: 15px; font-weight:100; }
	article[class*="tolist"] img { display: none!important;}
	[class*="hl-channel"][class*="tolist"] img { display:block; }
	[class*="hl-channel"][class*="tolist"] h3 { padding-left: 15px; }
	[class*="hl-channel"][class*="tolist"] div { border-bottom: 0!important; }
	/*****************************************************************/
	[class*="hl"][class*="thumbnail-left"] [class*="hl-channel"] { margin-bottom:20px!important; padding:0; }
	[class*="hl"][class*="thumbnail-left"] [class*="hl-channel"]>*:first-child { float:left; margin-right:2%; }
	[class*="hl"][class*="thumbnail-left"] [class*="hl-channel"] img { width:100px; }
	
	/*sidebar gallery*/
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"] { height: auto;}
	[class*="sidebar"] [class*="gallery"] [class*="hl-channel"]>div { position: relative; width: auto; left: auto; height: auto !important; background: none;}
	[class*="sidebar"] [class*="gallery"] [class*="_child"]>article { width: 31.2% !important; margin-left: 3.2% !important;}
	[class*="sidebar"] [class*="gallery"] [class*="_child"]>article:first-child { margin-left: 0 !important;}
	[class*="sidebar"] [class*="gallery"] [class*="_child"]>article h3 { height: auto !important; overflow: visible;}
	[class*="sidebar"] [class*="gallery"] article small { display: inline !important; position: relative !important; right: auto !important; top: auto !important; background: none;}
	[class*="sidebar"] [class*="gallery"] article small:before { content: " (";}
	[class*="sidebar"] [class*="gallery"] article small:after { content: ")";}
	[class*="sidebar"] [class*="gallery"] article small span { display: inline !important;}
	/*****************************************************************/
	[class*="sidebar"] [class*="-2thumbonly"] ul>li { width: 31% !important; margin-left: 3.5% !important; clear: none;}
    /*archive gallery*/
    [class*="archive-gallery-list"]>a { width: 30% !important; margin-right: 0 !important; margin-left: 4.5% !important;}
    [class*="archive-gallery-list"]>a:first-child, [class*="archive-gallery-list"]>a:nth-child(3n+1) { margin-left: 0 !important;}
	[class*="archive-gallery-list"]>a:nth-child(3n+1) { clear: left;} 

	.resize { clear:both; }
}
/*image high resolution*/
@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1024px) and (-ms-high-contrast: active), (max-width: 1024px) and (-ms-high-contrast: none) {
	[class*="resize"] a[class*="increasefont"] { background-position: 0 0; width:45px;}
	[class*="resize"] a[class*="decreasefont"] { background-position: -44px 0; width:42px;}
	[class*="resize"] [href="#print"] { background-position: 4px -71px; width:28px; margin-right:10px;}
	[class*="resize"] a { background-image: url(../di/resize@2x.png); background-repeat: no-repeat; -webkit-background-size: 200px 200px; background-size: 200px 200px; }
	[class*="btn-mainnav"], [class*="sanook-search"], [class*="sort-result"] label:after, [class*="nav-wrap"] [class*="fanpage"]
	{ background-image: url(../di/bg-center@2x.png)!important; background-repeat: no-repeat; -webkit-background-size: 200px 800px; background-size: 200px 800px; }
	[class*="ico-time"] { background-image: url(../di/ico-time@2x.png); background-size:11px 11px; }
	[class*="ico-pv"] { background-image: url(../di/ico-view@2x.png); background-size:14px 9px; }
	[class*="ico-comment"] { background-image: url(../di/ico-comment@2x.png); background-size:13px 12px; }
	[class*="sort-option"] input[type="submit"] { background-image: url(../di/ico-search@2x.png); background-size:19px 19px; background-position:2px 8px; }
}
