@charset "utf-8";
/* CSS Document */

#settrade .content { text-align:center;}
#gold { width:300px; margin:0; padding:0;}
#gold .head h2 { margin:0;}
#gold .head em { padding:5px; display:block; color:#666; font-style: normal; background:#966723; color:#FFFFFF;}
#gold ul li { display:block; overflow:hidden; background:#FFF3CC;}
#gold ul li strong, #gold ul li span, #gold ul li em { display:inline; float:left; padding:3px 5px; box-sizing:border-box;}
#gold ul li strong { width:120px;}
#gold ul li span { width:90px;}
#gold ul li em { width:90px; font-style:normal;}
#gold .foot3 { padding:5px; background:#966723; margin-bottom:10px; text-align:right;}
#gold .foot3 a { color: #ffffff;}