/* CSS Document */

.menu_top {
	font-family: 'rsuregular';
	font-size:22px;
	color:#30312c;
	font-weight:bold
}
.menu_grey {
	font-family: Georgia;
	font-size:20px;
	color:#999999;
	
}
.memu_filter {
	font-family: 'rsuregular';
	font-size:14px;
	color:#97994e;
}
.topic {
	font-family: Georgia;
	font-size:30px;
	color:#303030;
	line-height:30px;
}
.cover_date {
	font-family: 'rsuregular';
	font-size:18px;
	color:#0591f2;
	display:block;
}
.cover_cat {
	font-family: 'rsubold';
	font-size:20px;
	color:#0591f2;
	display:block;
}
.cover_topic {
	font-family: 'rsubold';
	font-size:30px;
	color:#306762;
	display:block;
}
.cover_topic2 {
	font-family: 'rsubold';
	font-size:20px;
	color:#306762;
	display:block;
}
.cover_topic3 {
	font-family: 'rsubold';
	font-size:24px;
	color:#306762;
	display:block;
}
.cover_detail {
	font-family: Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#646464;
	display:block;
	line-height:1.5;
	
}
.a_cover {
	font-family: 'rsuregular';
	font-size:18px;
	color:#333333;
	border-bottom-color:#c8c8c8;
	border-bottom-style:solid;
	border-bottom-width:1px;
	text-decoration:none;
}
.a_cover:hover {
	text-decoration:none;
}
.insight_topic {
	font-family: 'rsuregular';
	font-size:22px;
	color:#313131;
	display:block;
	line-height:20px;
}
.insight_name {
	font-family: 'rsuregular';
	font-size:16px;
	color:#346359;
	display:block;
	font-weight:bold;
	line-height:15px;
}
.insight_detail {
	font-family: Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#9a9a9a;
	display:block;
}
.new_post {
	font-family: 'rsuregular';
	font-size:30px;
	color:#171717;
}
.seealso {
	font-family: 'rsuregular';
	font-size:26px;
	color:#171717;
}
.readmore {
	font-family: 'rsuregular';
	font-size:19px;
	color:#717372;
}
.nav.navbar-nav.footer li a {
	font-family: Georgia;
	font-size:16px;
	color:#FFF;
	text-decoration:none;
}
.readmore a {
	font-family: 'rsuregular';
	font-size:19px;
	color:#0493ef;
	text-decoration:none;
}
.topic_footer {
	font-family: 'rsubold';
	font-size:24px;
	color:#68d5fc;
	padding-bottom:20px!important;
}
.topic_footer a {
	font-family: Georgia;
	font-size:20px;
	color: #68d5fc!important;
	text-decoration:none;
}
.topic_footer2 {
	font-family: Georgia;
	font-size:20px;
	color:#68d5fc;
	line-height:20px;
}
.topic_footer3 {
	font-family: 'rsuregular';
	font-size:22px;
	color:#FFF;
	line-height:20px;
}
.col-md-12.memu_bottom ul li a {
	font-family: 'rsuregular';
	font-size:18px;
	color:#FFF;
	text-decoration:none;
}
.copyright {
	font-family: Georgia;
	font-size:14px;
	color:#FFF;
}
.copyright a {
	font-family: Georgia;
	font-size:14px;
	color:#FFF;
	text-decoration:none
}
.term ul li a {
	font-family: 'rsubold';
	font-size:18px;
	color:#FFF;
	text-decoration:none;
	line-height:10px;
}
.media>.pull-left {
	font-family: 'rsuregular';
	font-size:60px;
	color:#9a9a9a;
	text-decoration:none;
	font-style: italic!important;
	line-height:50px;
}
.txt_pop {
	font-family: Georgia;
	font-size:24px;
	color:#FFF;
	line-height:25px;
}
.badge {
	font-weight:normal
}
.list ul li a {
	font-family: 'rsubold';
	font-size:26px;
	color:#353334;
	text-decoration:none
}
.list ul li a:hover {
	font-family: 'rsubold';
	font-size:26px;
	color:#FFF;
}
.video_topic a {
	font-family: 'rsubold';
	font-size:22px;
	color:#52c8ff;
	line-height:15px;
	text-decoration:none;
}
.video_description {
	font-family: 'rsubold';
	font-size:16px;
	color:#000;
	line-height:15px;
}
.follow_txt {
	font-family: 'rsuregular';
	font-size:20px;
	color:#333333;
}
.view {
	padding:0;
	font-family:Tahoma, Geneva, sans-serif;
	color:#2c6668;
	font-size:10px;
	margin-bottom:10px;
	margin-top:5px;
}
.view_pop {
	padding:0;
	font-family:Tahoma, Geneva, sans-serif;
	color:#2c6668;
	font-size:10px;
}
.topic_sub {
	font-family: 'rsuregular';
	font-size:18px;
	color:#303030;
	line-height:20px;
}
.cover_topic3 {
	font-family: 'rsubold';
	font-size:22px;
	color:#306762;
	display:block;
	line-height:25px;
}
.breadcrumb li a {
	color:#000;
	text-decoration:none;
}
.topic_s {
	font-family: 'rsuregular';
	font-size:26px;
	color:#303030;
	line-height:26px;
}
.seealso li a {
	font-family: 'rsuregular';
	font-size:16px;
	color:#464646;
	text-decoration:none;
}
.seealso li a:hover {
	color:#0493ef;
}
.editor_post li a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#464646;
	text-decoration:none;
}
.editor_post ul {
	padding:0 0 0 20px;
}
.editor_post li a:hover {
	color:#0493ef;
}
.editor_w {
	font-family: 'rsuregular';
	font-size:36px;
	color:#fff;
}
.list_2 {
	font-family: 'rsuregular';
	font-size:19px;
	color:#717372;
}
.videomore_de {
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#646464
}
.video_name {
	font-family: 'rsuregular';
	font-size:20px;
	color:#3c3c3c;
	display:block;
	line-height:18px;
}
.videomore a {
	font-family: 'rsuregular';
	font-size:16px;
	color:#0591f2;
	text-decoration:none;
	line-height:16px;
}
.view_2 {
	font-family: 'rsuregular';
	font-size:16px;
	color:#3c3c3c;
	display:block;
	line-height:18px;
}

.seealso ul li{
	float:left;
	/*width:50%;
	margin-right:15px;*/
}
.list_name{
	font-family: 'rsubold';
	font-size:20px;
	color:#0493ef;
	
}

.list_des{
	font-family:Tahoma, Geneva, sans-serif;	
	font-size:12px;
	color:#fffffff;
	
}
.privacy_t{
	

	font-family: 'rsuregular';
	font-size:16px;
	color:#0493ef;
	
}	
	
	
 @media only screen and (max-width : 480px) {
 .topic_footer2 {
 font-family: 'rsubold';
 font-size:16px;
 color:#68d5fc;
 line-height:20px;
 padding-top:20px;
}
.copyright {
 font-family: 'rsubold';
 font-size:13px;
 color:#FFF;
 text-align:center!important
}
.new_post {
 font-size:26px;
}
.login li a{
	font-size:12px!important;
	
}

.login li{
	margin-right:5px;}
 }

 /* Small devices (tablets, 768px and up) */
  /* Small devices (tablets, 768px and up) */
 @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
	 .cover_detail{
		 padding-top:10px;}

.nav.navbar-nav.footer li a {
	font-family: Georgia;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
	
	
	.nav.navbar-nav.footer li a {
	font-family: Georgia;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
}
	
	
	
	
	}