@charset "utf-8";
/* CSS Document */
@media only screen and (max-width : 614px) {
    body { font-family: Arial;}
	[class*="div-comment"] form input[type=text] { -webkit-border-radius: 0;}
	[class*="comment-form-dis_ad"] { background: none;}
	[class*="comment-form"] form { padding-right: 0;}
    [class*="_child"][class*="-grid-"] [class*="div-comment"] img { width: auto;}
    [class*="div-comment"] [class*="_fchild"][class*="-fl"]>*:first-child { width: auto;}
	[class*="comment-captcha"] input[type=text] { width: 30%;}
    input[type=text] { -webkit-appearance: caret;}
    /**/
    [class*="additional-adv"],
    [class*="div-comment"] article footer>span
    { display: none;}
    input[id="capcha"] { -webkit-appearance: none;}
}
@media only screen and (max-width : 614px) {
    [class*="comment-body"] p { float: left;}
    [class*="show-policy-popup"] { height: 100%; width: 100%; padding-left: 0; padding-right: 0;  }
    [class*="show-policy-popup"]>div { height: 70%; width: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch; -moz-overflow-scrolling: touch;}
    [class*="show-policy-popup"] [class*="comment-closeblockui"] { top: -35px; right: -35px;}
    [class*="show-policy-popup"] p>b:first-child { line-height: 28px; font-size: 20px;}
    [class*="div-comment"] article cite { float: none !important; }
    [class*="div-comment"] article footer>time { margin-left: 0 !important;}
    [class*="comment-tool"]>div:first-child { width: 100%;}
    [class*="comment-tool"]>div:first-child+div { float: left;}
    [class*="comment-form"] form>label { display: none;}
    [class*="comment-form"] form>div { margin-left: 0;}
    /*[class*="div-comment"] nav[class*="pager"] { display: none;}*/
    [class*="div-comment"] span[class*="pager"] { display: block; padding: 8px; 0; cursor: pointer;text-shadow: 0px 1px 0px #ffffff;
        filter: dropshadow(color=#ffffff, offx=0, offy=1); border: solid 1px #ccc; -webkit-box-shadow: 0px 2px 2px 0px rgba(a, a, a, .2); box-shadow: 0px 2px 2px 0px rgba(a, a, a, .2); background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */ -webkit-border-radius: 5px; border-radius: 5px; }

    [class*="tool-bubble-like-comment"] { left: -1px !important; background-position: 0 -622px !important;}
    [class*="tool-bubble-dislike-comment"] { left: -29px !important; background-position: 0 -887px !important;}
    [class*="tool-bubble-reply-comment"], [class*="tool-bubble-delete-comment"], [class*="tool-bubble-quot-comment"] { left: -56px !important; background-position: 0 -821px !important;}
}
@media only screen and (max-device-width : 614px) {
	/*font size*/
	[class*="comment-form"] form input[type="text"] { font-size: 100%;}
	[class*="comment-form"] form textarea { font-size: 100%;}
	[class*="comment-order"] { font-size: 80%;}
    [class*="comment-policy"]>b:first-child { font-size: 17px;}
	[class*="show-policy-popup"] div>p { font-size: 16px; }
	[class*="tool-delete-popup"] { font-size: 140%; font-family: sukhumvitbold;}
}
