img { border: none; }
.ch-fb { position: relative; height: 25px; color: #5676a7; padding: 0 0 0 50px !important; }
.ch-fb img { vertical-align: middle; margin: 0 5px; }
.ch-fb input { width: auto !important; float: left; border: none; margin-top: 3px !important; #margin-top: -2px !important; #padding-top: 0 !important; }
.ch-fb label { width: auto; }
.bubble-share { position: absolute; bottom: 18px; left: 43px; width: 291px; height: 61px; color: #ab3000; background: url('http://p1.isanook.com/sh/0/di/fb_bubble.png') no-repeat; _ background:none; }
*+html .bubble-share { bottom: 20px; left: 43px; }
*html .bubble-share { bottom: 19px; left: 50px; }
.bubble-share span { margin: 0; padding: 0; padding: 0 0 0 22px; text-align: left; font: 13px/43px tahoma; z-index:888; _position:absolute; _top:0; _left:0; }
*html .bubble-share span { line-height: 50px; padding-left: 18px; }
.bubble-share a { position: absolute; top: 10px; right: 13px; width: 12px; height: 12px; display: inline-block; outline: none; z-index:999; background: url('http://p1.isanook.com/sh/0/di/spacer.gif') repeat; }
.bubble-share a span { display: block; text-indent: -9999px; text-align: left; }
.bubble-share img { _position: absolute; _top: 0; _right: 0; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://p1.isanook.com/sh/0/di/fb_bubble.png"); z-index:0;} 