@charset "utf-8";
@media only screen and (min-width : 960px) {
    body { min-width: 780px;}
}
/*
* <div class="sanook-ch-la _s-grid-12_ch-grid-8-4">
*     <article>1st Column</article>
*     <aside>2nd Column</aside>
* </div>
*/
/*Clear Layout after float*/
[class*="_fchild"][class*="-fl"]:after, [class*="_child"][class*="-fl"]:after, [class*="_child"][class*="-grid"]:after, .separator:after, .pt-switch:after, [class*="_self"][class*="-clearfloat"]:after, [class*="_child"][class*="-clearfloat"]>*:after, [class*="_self"][class*="-grid-12"]:after, [class*="sidebar"]:after { content: ' '; display: block; clear: both;}
*+html [class*="_child"][class*="-fl"], *+html .separator, *+ .pt-switch, *+html [class*="_self"][class*="-clearfloat"], *+html [class*="_fchild"][class*="-fl"],
*+html [class*="_child"][class*="-grid"], *+html [class*="ads125"]
{ height: 1%;}

/*Make any inline-box become Block-box*/
[class*="_fchild"][class*="-fl"]>*:first-child { float: left;}
[class*="_child"][class*="-fl"]>*, article, figure, section, footer, aside, header, hgroup, nav, .separator { display: block; }
.separator { clear: both; width: 99.5%;}

/*original*/
* { margin: 0; padding: 0;}
body { position: relative; font-family: Helvetica;}
a { outline: none; }
a img { vertical-align: middle; border: none;}
textarea { resize: none; font-family: tahoma; font-size: 13px; border: none; background: none;}
input { font-family: tahoma; border: none; background: none;}
input[type=submit] { text-indent: -9999px; line-height: 0; cursor: pointer;}
ul, li, ol { list-style-type: none; }

/*Text*/
/*Font Weight Bold*/
[class*="_child"][class*="-txt"][class*="_700x"]>* {font-weight: 700;}
[class*="_child"][class*="-txt"][class*="_400x"]>* {font-weight: 400;}

[class*="_self"][class*="-txt"][class*="_700x"] {font-weight: 700;}
[class*="_self"][class*="-txt"][class*="_400x"] {font-weight: 400;}

/*Font size*/
[class*="_child"][class*="-fs"][class*="_200pc"]>* {font-size: 200%;}
[class*="_child"][class*="-fs"][class*="_180pc"]>* {font-size: 180%;}
[class*="_child"][class*="-fs"][class*="_160pc"]>* {font-size: 160%;}
[class*="_child"][class*="-fs"][class*="_140pc"]>* {font-size: 140%;}
[class*="_child"][class*="-fs"][class*="_120pc"]>* {font-size: 120%;}
[class*="_child"][class*="-fs"][class*="_110pc"]>* {font-size: 110%;}
[class*="_child"][class*="-fs"][class*="_100pc"]>* {font-size: 100%;}
[class*="_child"][class*="-fs"][class*="_95pc"]>* {font-size: 95%;}
[class*="_child"][class*="-fs"][class*="_90pc"]>* {font-size: 90%;}
[class*="_child"][class*="-fs"][class*="_85pc"]>* {font-size: 85%;}
[class*="_child"][class*="-fs"][class*="_80pc"]>* {font-size: 80%;}
[class*="_child"][class*="-fs"][class*="_75pc"]>* {font-size: 75%;}
[class*="_child"][class*="-fs"][class*="_70pc"]>* {font-size: 70%;}
[class*="_child"][class*="-fs"][class*="_65pc"]>* {font-size: 65%;}
[class*="_child"][class*="-fs"][class*="_60pc"]>* {font-size: 60%;}
[class*="_child"][class*="-fs"][class*="_55pc"]>* {font-size: 55%;}
[class*="_child"][class*="-fs"][class*="_50pc"]>* {font-size: 50%;}

[class*="_self"][class*="-fs"][class*="_200pc"] {font-size: 200%;}
[class*="_self"][class*="-fs"][class*="_180pc"] {font-size: 180%;}
[class*="_self"][class*="-fs"][class*="_160pc"] {font-size: 160%;}
[class*="_self"][class*="-fs"][class*="_140pc"] {font-size: 140%;}
[class*="_self"][class*="-fs"][class*="_120pc"] {font-size: 120%;}
[class*="_self"][class*="-fs"][class*="_110pc"] {font-size: 110%;}
[class*="_self"][class*="-fs"][class*="_100pc"] {font-size: 100%;}
[class*="_self"][class*="-fs"][class*="_95pc"] {font-size: 95%;}
[class*="_self"][class*="-fs"][class*="_90pc"] {font-size: 90%;}
[class*="_self"][class*="-fs"][class*="_85pc"] {font-size: 85%;}
[class*="_self"][class*="-fs"][class*="_80pc"] {font-size: 80%;}
[class*="_self"][class*="-fs"][class*="_75pc"] {font-size: 75%;}
[class*="_self"][class*="-fs"][class*="_70pc"] {font-size: 70%;}
[class*="_self"][class*="-fs"][class*="_65pc"] {font-size: 65%;}
[class*="_self"][class*="-fs"][class*="_60pc"] {font-size: 60%;}
[class*="_self"][class*="-fs"][class*="_55pc"] {font-size: 55%;}
[class*="_self"][class*="-fs"][class*="_50pc"] {font-size: 50%;}

[class*="_child"][class*="-txt"][class*="_ce"]>* {text-align: center;}
[class*="_child"][class*="-txt"][class*="_le"]>* {text-align: left;}
[class*="_child"][class*="-txt"][class*="_re"]>* {text-align: right;}

[class*="_self"][class*="-txt"][class*="_ce"] {text-align: center;}
[class*="_self"][class*="-txt"][class*="_le"] {text-align: left;}
[class*="_self"][class*="-txt"][class*="_re"] {text-align: right;}

/******************************/

/*Basic box floating*/
[class*="_child"][class*="-fr"]>* { float: right;}
[class*="_child"][class*="-fl"]>* { float: left;}
[class*="_child"][class*="-fn"]>* { float: none;}

[class*="_self"][class*="-fr"] { float: right;}
[class*="_self"][class*="-fl"] { float: left;}
[class*="_self"][class*="-fn"] { float: none;}

/*Basic box Position*/
[class*="_child"][class*="-ps_rel"]>* { position: relative;}
[class*="_child"][class*="-ps_abl"]>* { position: absolute;}
[class*="_child"][class*="-ps_fix"]>* { position: fixed;}
[class*="_child"][class*="-ps_sta"]>* { position: static;}

[class*="_self"][class*="-ps_rel"] { position: relative;}
[class*="_self"][class*="-ps_abl"] { position: absolute;}
[class*="_self"][class*="-ps_fix"] { position: fixed;}
[class*="_self"][class*="-ps_sta"] { position: static;}

/*Basic Box Display*/
[class*="_gchild"][class*="-dp_none"]>*>* { display: none;}
[class*="_gchild"][class*="-dp_block"]>*>* { display: block;}
[class*="_gchild"][class*="-dp_inline"]>*>* { display: inline;}
[class*="_gchild"][class*="-dp_inblock"]>*>* { display: inline-block;}

[class*="_child"][class*="-dp_none"]>* { display: none;}
[class*="_child"][class*="-dp_block"]>* { display: block;}
[class*="_child"][class*="-dp_line"]>* { display: inline;}
[class*="_child"][class*="-dp_inblock"]>* { display: inline-block;}

[class*="_achild"][class*="-dp_none"]>*+* { display: none;}
[class*="_achild"][class*="-dp_block"]>*+* { display: block;}
[class*="_achild"][class*="-dp_inline"]>*+* { display: inline;}
[class*="_achild"][class*="-dp_inblock"]>*+* { display: inline-block;}

[class*="_self"][class*="-dp_none"] { display: none;}
[class*="_self"][class*="-dp_block"] { display: block;}
[class*="_self"][class*="-dp_inline"] { display: inline;}
[class*="_self"][class*="-dp_inblock"] { display: inline-block;}

/* grand child padding */
[class*="_gchild"][class*="-pd"][class*="-s10x"]>*>* { padding: 10px;}
[class*="_gchild"][class*="-pd"][class*="-s15x"]>*>* { padding: 15px;}

[class*="_gchild"][class*="-pd"][class*="-l5x"]>*>* { padding-left: 5px;}
[class*="_gchild"][class*="-pd"][class*="-l10x"]>*>* { padding-left: 10px;}
[class*="_gchild"][class*="-pd"][class*="-l15x"]>*>* { padding-left: 15px;}
[class*="_gchild"][class*="-pd"][class*="-l20x"]>*>* { padding-left: 20px;}
[class*="_gchild"][class*="-pd"][class*="-l25x"]>*>* { padding-left: 25px;}

[class*="_gchild"][class*="-pd"][class*="-r5x"]>*>* { padding-right: 5px;}
[class*="_gchild"][class*="-pd"][class*="-r10x"]>*>* { padding-right: 10px;}
[class*="_gchild"][class*="-pd"][class*="-r15x"]>*>* { padding-right: 15px;}
[class*="_gchild"][class*="-pd"][class*="-r20x"]>*>* { padding-right: 20px;}
[class*="_gchild"][class*="-pd"][class*="-r25x"]>*>* { padding-right: 25px;}

[class*="_gchild"][class*="-pd"][class*="-b5x"]>*>* { padding-bottom: 5px;}
[class*="_gchild"][class*="-pd"][class*="-b10x"]>*>* { padding-bottom: 10px;}
[class*="_gchild"][class*="-pd"][class*="-b15x"]>*>* { padding-bottom: 15px;}
[class*="_gchild"][class*="-pd"][class*="-b20x"]>*>* { padding-bottom: 20px;}
[class*="_gchild"][class*="-pd"][class*="-b25x"]>*>* { padding-bottom: 25px;}

[class*="_gchild"][class*="-pd"][class*="-b5x"]>*>*>* { padding-bottom: 5px;}
[class*="_gchild"][class*="-pd"][class*="-b10x"]>*>*>* { padding-bottom: 10px;}
[class*="_gchild"][class*="-pd"][class*="-b15x"]>*>*>* { padding-bottom: 15px;}
[class*="_gchild"][class*="-pd"][class*="-b20x"]>*>*>* { padding-bottom: 20px;}
[class*="_gchild"][class*="-pd"][class*="-b25x"]>*>*>* { padding-bottom: 25px;}

/* child padding */
[class*="_child"][class*="-pd"][class*="_s5x"]>* { padding: 5px;}
[class*="_child"][class*="-pd"][class*="_s10x"]>* { padding: 10px;}
[class*="_child"][class*="-pd"][class*="_s15x"]>* { padding: 15px;}
[class*="_child"][class*="-pd"][class*="_s20x"]>* { padding: 20px;}
[class*="_child"][class*="-pd"][class*="_s25x"]>* { padding: 25px;}

[class*="_child"][class*="-pd"][class*="_l5x"]>* { padding-left: 5px;}
[class*="_child"][class*="-pd"][class*="_l10x"]>* { padding-left: 10px;}
[class*="_child"][class*="-pd"][class*="_l15x"]>* { padding-left: 15px;}
[class*="_child"][class*="-pd"][class*="_l20x"]>* { padding-left: 20px;}
[class*="_child"][class*="-pd"][class*="_l25x"]>* { padding-left: 25px;}
[class*="_child"][class*="-pd"][class*="_l30x"]>* { padding-left: 30px;}
[class*="_child"][class*="-pd"][class*="_l35x"]>* { padding-left: 35px;}
[class*="_child"][class*="-pd"][class*="_l40x"]>* { padding-left: 40px;}
[class*="_child"][class*="-pd"][class*="_l45x"]>* { padding-left: 45px;}
[class*="_child"][class*="-pd"][class*="_l50x"]>* { padding-left: 50px;}

[class*="_child"][class*="-pd"][class*="_r5x"]>* { padding-right: 5px;}
[class*="_child"][class*="-pd"][class*="_r10x"]>* { padding-right: 10px;}
[class*="_child"][class*="-pd"][class*="_r15x"]>* { padding-right: 15px;}
[class*="_child"][class*="-pd"][class*="_r20x"]>* { padding-right: 20px;}
[class*="_child"][class*="-pd"][class*="_r25x"]>* { padding-right: 25px;}
[class*="_child"][class*="-pd"][class*="_r30x"]>* { padding-right: 30px;}
[class*="_child"][class*="-pd"][class*="_r35x"]>* { padding-right: 35px;}
[class*="_child"][class*="-pd"][class*="_r40x"]>* { padding-right: 40px;}
[class*="_child"][class*="-pd"][class*="_r45x"]>* { padding-right: 45px;}
[class*="_child"][class*="-pd"][class*="_r50x"]>* { padding-right: 50px;}

[class*="_child"][class*="-pd"][class*="_t5x"]>* { padding-top: 5px;}
[class*="_child"][class*="-pd"][class*="_t10x"]>* { padding-top: 10px;}
[class*="_child"][class*="-pd"][class*="_t15x"]>* { padding-top: 15px;}
[class*="_child"][class*="-pd"][class*="_t20x"]>* { padding-top: 20px;}
[class*="_child"][class*="-pd"][class*="_t25x"]>* { padding-top: 25px;}
[class*="_child"][class*="-pd"][class*="_t30x"]>* { padding-top: 30px;}
[class*="_child"][class*="-pd"][class*="_t35x"]>* { padding-top: 35px;}
[class*="_child"][class*="-pd"][class*="_t40x"]>* { padding-top: 40px;}
[class*="_child"][class*="-pd"][class*="_t45x"]>* { padding-top: 45px;}
[class*="_child"][class*="-pd"][class*="_t50x"]>* { padding-top: 50px;}

[class*="_child"][class*="-pd"][class*="_b5x"]>* { padding-bottom: 5px;}
[class*="_child"][class*="-pd"][class*="_b10x"]>* { padding-bottom: 10px;}
[class*="_child"][class*="-pd"][class*="_b15x"]>* { padding-bottom: 15px;}
[class*="_child"][class*="-pd"][class*="_b20x"]>* { padding-bottom: 20px;}
[class*="_child"][class*="-pd"][class*="_b25x"]>* { padding-bottom: 25px;}
[class*="_child"][class*="-pd"][class*="_b30x"]>* { padding-bottom: 30px;}
[class*="_child"][class*="-pd"][class*="_b35x"]>* { padding-bottom: 35px;}
[class*="_child"][class*="-pd"][class*="_b40x"]>* { padding-bottom: 40px;}
[class*="_child"][class*="-pd"][class*="_b45x"]>* { padding-bottom: 45px;}
[class*="_child"][class*="-pd"][class*="_b50x"]>* { padding-bottom: 50px;}

/* first-child padding*/
[class*="_fchild"][class*="-pd"][class*="_b10x"]>*:first-child { padding-bottom: 10px;}

[class*="_fchild"][class*="-pd"][class*="_l10x"]>*:first-child { padding-left: 10px;}

/* self padding */
[class*="_self"][class*="-pd"][class*="_s5x"] { padding: 5px;}
[class*="_self"][class*="-pd"][class*="_s10x"] { padding: 10px;}
[class*="_self"][class*="-pd"][class*="_s15x"] { padding: 15px;}
[class*="_self"][class*="-pd"][class*="_s20x"] { padding: 20px;}
[class*="_self"][class*="-pd"][class*="_s25x"] { padding: 25px;}

[class*="_self"][class*="-pd"][class*="_l5x"] { padding-left: 5px;}
[class*="_self"][class*="-pd"][class*="_l10x"] { padding-left: 10px;}
[class*="_self"][class*="-pd"][class*="_l15x"] { padding-left: 15px;}
[class*="_self"][class*="-pd"][class*="_l20x"] { padding-left: 20px;}
[class*="_self"][class*="-pd"][class*="_l25x"] { padding-left: 25px;}
[class*="_self"][class*="-pd"][class*="_l30x"] { padding-left: 30px;}
[class*="_self"][class*="-pd"][class*="_l35x"] { padding-left: 35px;}
[class*="_self"][class*="-pd"][class*="_l40x"] { padding-left: 40px;}
[class*="_self"][class*="-pd"][class*="_l45x"] { padding-left: 45px;}
[class*="_self"][class*="-pd"][class*="_l50x"] { padding-left: 50px;}
[class*="_self"][class*="-pd"][class*="_l60x"] { padding-left: 60px;}
[class*="_self"][class*="-pd"][class*="_l70x"] { padding-left: 70px;}
[class*="_self"][class*="-pd"][class*="_l80x"] { padding-left: 80px;}
[class*="_self"][class*="-pd"][class*="_l90x"] { padding-left: 90px;}
[class*="_self"][class*="-pd"][class*="_l100x"] { padding-left: 100px;}

[class*="_self"][class*="-pd"][class*="_r5x"] { padding-right: 5px;}
[class*="_self"][class*="-pd"][class*="_r10x"] { padding-right: 10px;}
[class*="_self"][class*="-pd"][class*="_r15x"] { padding-right: 15px;}
[class*="_self"][class*="-pd"][class*="_r20x"] { padding-right: 20px;}
[class*="_self"][class*="-pd"][class*="_r25x"] { padding-right: 25px;}
[class*="_self"][class*="-pd"][class*="_r30x"] { padding-right: 30px;}
[class*="_self"][class*="-pd"][class*="_r35x"] { padding-right: 35px;}
[class*="_self"][class*="-pd"][class*="_r40x"] { padding-right: 40px;}
[class*="_self"][class*="-pd"][class*="_r45x"] { padding-right: 45px;}
[class*="_self"][class*="-pd"][class*="_r50x"] { padding-right: 50px;}

[class*="_self"][class*="-pd"][class*="_t5x"] { padding-top: 5px;}
[class*="_self"][class*="-pd"][class*="_t10x"] { padding-top: 10px;}
[class*="_self"][class*="-pd"][class*="_t15x"] { padding-top: 15px;}
[class*="_self"][class*="-pd"][class*="_t20x"] { padding-top: 20px;}
[class*="_self"][class*="-pd"][class*="_t25x"] { padding-top: 25px;}
[class*="_self"][class*="-pd"][class*="_t30x"] { padding-top: 30px;}
[class*="_self"][class*="-pd"][class*="_t35x"] { padding-top: 35px;}
[class*="_self"][class*="-pd"][class*="_t40x"] { padding-top: 40px;}
[class*="_self"][class*="-pd"][class*="_t45x"] { padding-top: 45px;}
[class*="_self"][class*="-pd"][class*="_t50x"] { padding-top: 50px;}

[class*="_self"][class*="-pd"][class*="_b5x"] { padding-bottom: 5px;}
[class*="_self"][class*="-pd"][class*="_b10x"] { padding-bottom: 10px;}
[class*="_self"][class*="-pd"][class*="_b15x"] { padding-bottom: 15px;}
[class*="_self"][class*="-pd"][class*="_b20x"] { padding-bottom: 20px;}
[class*="_self"][class*="-pd"][class*="_b25x"] { padding-bottom: 25px;}
[class*="_self"][class*="-pd"][class*="_b30x"] { padding-bottom: 30px;}
[class*="_self"][class*="-pd"][class*="_b35x"] { padding-bottom: 35px;}
[class*="_self"][class*="-pd"][class*="_b40x"] { padding-bottom: 40px;}
[class*="_self"][class*="-pd"][class*="_b45x"] { padding-bottom: 45px;}
[class*="_self"][class*="-pd"][class*="_b50x"] { padding-bottom: 50px;}

/* grand child margin */
[class*="_gchild"][class*="-mg"][class*="_s5x"]>*>* { margin: 5px;}
[class*="_gchild"][class*="-mg"][class*="_s10x"]>*>* { margin: 10px;}
[class*="_gchild"][class*="-mg"][class*="_s15x"]>*>* { margin: 15px;}
[class*="_gchild"][class*="-mg"][class*="_s20x"]>*>* { margin: 20px;}
[class*="_gchild"][class*="-mg"][class*="_s25x"]>*>* { margin: 25px;}

[class*="_gchild"][class*="-mg"][class*="_l5x"]>*>* { margin-left: 5px;}
[class*="_gchild"][class*="-mg"][class*="_l10x"]>*>* { margin-left: 10px;}
[class*="_gchild"][class*="-mg"][class*="_l15x"]>*>* { margin-left: 15px;}
[class*="_gchild"][class*="-mg"][class*="_l20x"]>*>* { margin-left: 20px;}
[class*="_gchild"][class*="-mg"][class*="_l25x"]>*>* { margin-left: 25px;}

[class*="_gchild"][class*="-mg"][class*="_r5x"]>*>* { margin-right: 5px;}
[class*="_gchild"][class*="-mg"][class*="_r10x"]>*>* { margin-right: 10px;}
[class*="_gchild"][class*="-mg"][class*="_r15x"]>*>* { margin-right: 15px;}
[class*="_gchild"][class*="-mg"][class*="_r20x"]>*>* { margin-right: 20px;}
[class*="_gchild"][class*="-mg"][class*="_r25x"]>*>* { margin-right: 25px;}

[class*="_gchild"][class*="-mg"][class*="_t5x"]>*>* { margin-top: 5px;}
[class*="_gchild"][class*="-mg"][class*="_t10x"]>*>* { margin-top: 10px;}
[class*="_gchild"][class*="-mg"][class*="_t15x"]>*>* { margin-top: 15px;}
[class*="_gchild"][class*="-mg"][class*="_t20x"]>*>* { margin-top: 20px;}
[class*="_gchild"][class*="-mg"][class*="_t25x"]>*>* { margin-top: 25px;}

[class*="_gchild"][class*="-mg"][class*="_b5x"]>*>* { margin-bottom: 5px;}
[class*="_gchild"][class*="-mg"][class*="_b10x"]>*>* { margin-bottom: 10px;}
[class*="_gchild"][class*="-mg"][class*="_b15x"]>*>* { margin-bottom: 15px;}
[class*="_gchild"][class*="-mg"][class*="_b20x"]>*>* { margin-bottom: 20px;}
[class*="_gchild"][class*="-mg"][class*="_b25x"]>*>* { margin-bottom: 25px;}

/* child margin */
[class*="_child"][class*="-mg"][class*="_s5x"]>* { margin: 5px;}
[class*="_child"][class*="-mg"][class*="_s10x"]>* { margin: 10px;}
[class*="_child"][class*="-mg"][class*="_s15x"]>* { margin: 15px;}
[class*="_child"][class*="-mg"][class*="_s20x"]>* { margin: 20px;}
[class*="_child"][class*="-mg"][class*="_s25x"]>* { margin: 25px;}

[class*="_child"][class*="-mg"][class*="_l5x"]>* { margin-left: 5px;}
[class*="_child"][class*="-mg"][class*="_l10x"]>* { margin-left: 10px;}
[class*="_child"][class*="-mg"][class*="_l15x"]>* { margin-left: 15px;}
[class*="_child"][class*="-mg"][class*="_l19x"]>* { margin-left: 19px;}
[class*="_child"][class*="-mg"][class*="_l20x"]>* { margin-left: 20px;}
[class*="_child"][class*="-mg"][class*="_l25x"]>* { margin-left: 25px;}
[class*="_child"][class*="-mg"][class*="_l30x"]>* { margin-left: 30px;}
[class*="_child"][class*="-mg"][class*="_l35x"]>* { margin-left: 35px;}
[class*="_child"][class*="-mg"][class*="_l40x"]>* { margin-left: 40px;}
[class*="_child"][class*="-mg"][class*="_l45x"]>* { margin-left: 45px;}
[class*="_child"][class*="-mg"][class*="_l50x"]>* { margin-left: 50px;}

[class*="_child"][class*="-mg"][class*="_r5x"]>* { margin-right: 5px;}
[class*="_child"][class*="-mg"][class*="_r10x"]>* { margin-right: 10px;}
[class*="_child"][class*="-mg"][class*="_r15x"]>* { margin-right: 15px;}
[class*="_child"][class*="-mg"][class*="_r19x"]>* { margin-right: 19px;}
[class*="_child"][class*="-mg"][class*="_r20x"]>* { margin-right: 20px;}
[class*="_child"][class*="-mg"][class*="_r25x"]>* { margin-right: 25px;}
[class*="_child"][class*="-mg"][class*="_r30x"]>* { margin-right: 30px;}
[class*="_child"][class*="-mg"][class*="_r35x"]>* { margin-right: 35px;}
[class*="_child"][class*="-mg"][class*="_r40x"]>* { margin-right: 40px;}
[class*="_child"][class*="-mg"][class*="_r45x"]>* { margin-right: 45px;}
[class*="_child"][class*="-mg"][class*="_r50x"]>* { margin-right: 50px;}

[class*="_child"][class*="-mg"][class*="_t5x"]>* { margin-top: 5px;}
[class*="_child"][class*="-mg"][class*="_t10x"]>* { margin-top: 10px;}
[class*="_child"][class*="-mg"][class*="_t15x"]>* { margin-top: 15px;}
[class*="_child"][class*="-mg"][class*="_t20x"]>* { margin-top: 20px;}
[class*="_child"][class*="-mg"][class*="_t25x"]>* { margin-top: 25px;}
[class*="_child"][class*="-mg"][class*="_t30x"]>* { margin-top: 30px;}
[class*="_child"][class*="-mg"][class*="_t35x"]>* { margin-top: 35px;}
[class*="_child"][class*="-mg"][class*="_t40x"]>* { margin-top: 40px;}
[class*="_child"][class*="-mg"][class*="_t45x"]>* { margin-top: 45px;}
[class*="_child"][class*="-mg"][class*="_t50x"]>* { margin-top: 50px;}

[class*="_child"][class*="-mg"][class*="_b5x"]>* { margin-bottom: 5px;}
[class*="_child"][class*="-mg"][class*="_b10x"]>* { margin-bottom: 10px;}
[class*="_child"][class*="-mg"][class*="_b15x"]>* { margin-bottom: 15px;}
[class*="_child"][class*="-mg"][class*="_b19x"]>* { margin-bottom: 19px;}
[class*="_child"][class*="-mg"][class*="_b20x"]>* { margin-bottom: 20px;}
[class*="_child"][class*="-mg"][class*="_b25x"]>* { margin-bottom: 25px;}
[class*="_child"][class*="-mg"][class*="_b30x"]>* { margin-bottom: 30px;}
[class*="_child"][class*="-mg"][class*="_b35x"]>* { margin-bottom: 35px;}
[class*="_child"][class*="-mg"][class*="_b40x"]>* { margin-bottom: 40px;}
[class*="_child"][class*="-mg"][class*="_b45x"]>* { margin-bottom: 45px;}
[class*="_child"][class*="-mg"][class*="_b50x"]>* { margin-bottom: 50px;}

[class*="_child"][class*="-grid"]>*:first-child~* { margin-left: 20px;}
[class*="_self"][class*="-edge"] [class*="_child"][class*="-grid-2-2x"]>*:first-child~* { margin-left: 10px;}

/* first-child margin*/
[class*="_fchild"][class*="-mg"][class*="_r5x"]>*:first-child { margin-right: 5px;}
[class*="_fchild"][class*="-mg"][class*="_r10x"]>*:first-child { margin-right: 10px;}
[class*="_fchild"][class*="-mg"][class*="_r15x"]>*:first-child { margin-right: 15px;}
[class*="_fchild"][class*="-mg"][class*="_r20x"]>*:first-child { margin-right: 20px;}

/* self margin */
[class*="_self"][class*="-mg"][class*="_s0x"] { margin: 0;}
[class*="_self"][class*="-mg"][class*="_s5x"] { margin: 5px;}
[class*="_self"][class*="-mg"][class*="_s10x"] { margin: 10px;}
[class*="_self"][class*="-mg"][class*="_s15x"] { margin: 15px;}
[class*="_self"][class*="-mg"][class*="_s20x"] { margin: 20px;}
[class*="_self"][class*="-mg"][class*="_s25x"] { margin: 25px;}
[class*="_self"][class*="-mg"][class*="_s30x"] { margin: 30px;}
[class*="_self"][class*="-mg"][class*="_s35x"] { margin: 35px;}
[class*="_self"][class*="-mg"][class*="_s40x"] { margin: 40px;}
[class*="_self"][class*="-mg"][class*="_s45x"] { margin: 45px;}
[class*="_self"][class*="-mg"][class*="_s50x"] { margin: 50px;}

[class*="_self"][class*="-mg"][class*="_l0x"] { margin-left: 0;}
[class*="_self"][class*="-mg"][class*="_l5x"] { margin-left: 5px;}
[class*="_self"][class*="-mg"][class*="_l10x"] { margin-left: 10px;}
[class*="_self"][class*="-mg"][class*="_l15x"] { margin-left: 15px;}
[class*="_self"][class*="-mg"][class*="_l19x"] { margin-left: 19px;}
[class*="_self"][class*="-mg"][class*="_l20x"] { margin-left: 20px;}
[class*="_self"][class*="-mg"][class*="_l25x"] { margin-left: 25px;}
[class*="_self"][class*="-mg"][class*="_l30x"] { margin-left: 30px;}
[class*="_self"][class*="-mg"][class*="_l35x"] { margin-left: 35px;}
[class*="_self"][class*="-mg"][class*="_l40x"] { margin-left: 40px;}
[class*="_self"][class*="-mg"][class*="_l45x"] { margin-left: 45px;}
[class*="_self"][class*="-mg"][class*="_l50x"] { margin-left: 50px;}

[class*="_self"][class*="-mg"][class*="_r0x"] { margin-right: 0;}
[class*="_self"][class*="-mg"][class*="_r5x"] { margin-right: 5px;}
[class*="_self"][class*="-mg"][class*="_r10x"] { margin-right: 10px;}
[class*="_self"][class*="-mg"][class*="_r15x"] { margin-right: 15px;}
[class*="_self"][class*="-mg"][class*="_r20x"] { margin-right: 20px;}
[class*="_self"][class*="-mg"][class*="_r25x"] { margin-right: 25px;}
[class*="_self"][class*="-mg"][class*="_r30x"] { margin-right: 30px;}
[class*="_self"][class*="-mg"][class*="_r35x"] { margin-right: 35px;}
[class*="_self"][class*="-mg"][class*="_r40x"] { margin-right: 40px;}
[class*="_self"][class*="-mg"][class*="_r45x"] { margin-right: 45px;}
[class*="_self"][class*="-mg"][class*="_r50x"] { margin-right: 50px;}

[class*="_self"][class*="-mg"][class*="_t0x"] { margin-top: 0;}
[class*="_self"][class*="-mg"][class*="_t5x"] { margin-top: 5px;}
[class*="_self"][class*="-mg"][class*="_t10x"] { margin-top: 10px;}
[class*="_self"][class*="-mg"][class*="_t15x"] { margin-top: 15px;}
[class*="_self"][class*="-mg"][class*="_t20x"] { margin-top: 20px;}
[class*="_self"][class*="-mg"][class*="_t25x"] { margin-top: 25px;}
[class*="_self"][class*="-mg"][class*="_t30x"] { margin-top: 30px;}
[class*="_self"][class*="-mg"][class*="_t35x"] { margin-top: 35px;}
[class*="_self"][class*="-mg"][class*="_t40x"] { margin-top: 40px;}
[class*="_self"][class*="-mg"][class*="_t45x"] { margin-top: 45px;}
[class*="_self"][class*="-mg"][class*="_t50x"] { margin-top: 50px;}

[class*="_self"][class*="-mg"][class*="_b0x"] { margin-bottom: 0;}
[class*="_self"][class*="-mg"][class*="_b5x"] { margin-bottom: 5px;}
[class*="_self"][class*="-mg"][class*="_b10x"] { margin-bottom: 10px;}
[class*="_self"][class*="-mg"][class*="_b15x"] { margin-bottom: 15px;}
[class*="_self"][class*="-mg"][class*="_b20x"] { margin-bottom: 20px; }
*:first-child+html [class*="_self"][class*="-mg"][class*="_b20x"] { height: 1%; }

[class*="_self"][class*="-mg"][class*="_b25x"] { margin-bottom: 25px;}
[class*="_self"][class*="-mg"][class*="_b30x"] { margin-bottom: 30px;}
[class*="_self"][class*="-mg"][class*="_b35x"] { margin-bottom: 35px;}
[class*="_self"][class*="-mg"][class*="_b40x"] { margin-bottom: 40px;}
[class*="_self"][class*="-mg"][class*="_b45x"] { margin-bottom: 45px;}
[class*="_self"][class*="-mg"][class*="_b50x"] { margin-bottom: 50px;}

/*Grid
* Normal Screen
* #Module width 60px
*/
[class*="_child"][class*="-grid"]>[class*="separator"] { margin: 0 !important}
[class*="_child"][class*="-grid"]>* { float: left; }
[class*="_child"][class*="-grid-12"]>*, [class*="_self"][class*="-grid-12"] {float: none; width: 940px; margin: 0 auto; padding: 0 10px; }

[class*="_child"][class*="-grid-8-4x"]>*:first-child { width: 620px;}
[class*="_child"][class*="-grid-8-4x"]>*:first-child+* { width: 300px;}

[class*="_child"][class*="-grid-4-4x"]>* { width: 300px;}
[class*="_child"][class*="-grid-2-2-2-2x"]>* { width: 140px;}
[class*="_child"][class*="-grid-2-2x"]>* { width: 140px;}
[class*="_child"][class*="-grid-4-4x"] section [class*="_child"][class*="-grid-2-2x"] { height: 140px; overflow: hidden;}
[class*="_self"][class*="-edge"] [class*="_child"][class*="-grid-2-2x"]>* { width: 135px; overflow: hidden; }
[class*="grid-8-4x"]>[class*="grid-1-1-1-1-1-1-1-1x"] { width: 60px;}

[class*="_child"][class*="-grid-3-5x"]>*:first-child { width: 220px;}
[class*="_child"][class*="-grid-3-5x"]>*:first-child+* { width: 380px;}

[class*="_child"][class*="-grid-5-3x"]>*:first-child { width: 380px;}
[class*="_child"][class*="-grid-5-3x"]>*:first-child+* { width: 220px;}

[class*="_child"][class*="-grid-2-4x"]>*:first-child { width: 140px;}
[class*="_child"][class*="-grid-2-4x"]>*:first-child+* { width: 300px;}

/*[class*="_child"][class*="-grid-2-2x"]>figure { width: 140px;}*/
[class*="_child"][class*="-grid-2-2x"]>figure figcaption small { display: block;}
[class*="_child"][class*="-grid-2-2x"]>figure figcaption b { font-weight: 400;}

/*Grid Content thumbnail*/
[class*="_child"][class*="-grid-2-2-2-2x"]>*:first-child+*+*+*+*,
[class*="_child"][class*="-grid-2-2-2-2x"]>*:first-child+*+*+*+*+*+*+*+*,
[class*="_child"][class*="-grid-2-2-2-2x"]>*:first-child+*+*+*+*+*+*+*+*+*+*+*+*,
[class*="_child"][class*="-grid-2-2-2-2x"]>*:first-child+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*,
[class*="_child"][class*="-grid-4-4x"]>*:first-child,
[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*,
[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*,
[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*+*+*,
[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*+*+*+*+*,
[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*+*+*+*+*+*+*,
[class*="_child"][class*="-grid-4-4x"]>*:first-child+*+*+*+*+*+*+*+*+*+*+*+*,
[class*="_child"][class*="-grid-2-2x"]>*:first-child+*+*,
[class*="_child"][class*="-grid-2-2x"]>*:first-child+*+*+*+*,
[class*="_child"][class*="-grid-2-2x"]>*:first-child+*+*+*+*+*+*
{ margin-left: 0; }

[class*="_child"][class*="-grid-2-2-2-2x"]>*:first-child,
[class*="_child"][class*="-grid-2-2-2-2x"]>*:first-child+*,
[class*="_child"][class*="-grid-2-2-2-2x"]>*:first-child+*+*,
[class*="_child"][class*="-grid-2-2-2-2x"]>*:first-child+*+*+*,
[class*="_child"][class*="-grid-2-2x"]>*:first-child,
[class*="_child"][class*="-grid-2-2x"]>*:first-child+*
{ margin-top: 0;}

[class*="_child"][class*="-grid-2-2-2-2x"]>*:first-child+*+*+*+* { clear: left;}

/* seo hidden */
[class="lts"] { display: block; left: -9999px; position: absolute; top: 0; text-indent:-9999px; height:1px; overflow:hidden; line-height:999px; }

/* thumbnail margin */
[class*="thumb"] [class*="_child"]>article,
[class*="thumb"] [class*="_child"]>li,
[class*="thumb"] [class*="_child"]>ul
 { width: 140px; margin-left:20px; margin-bottom:5px; }
[class*="thumbnail-left"] [class*="_child"][class*="-grid-4-4x"]>div>article,
[class*="thumbnail-left"] [class*="_child"][class*="-grid-4-4x"]>ul>li
{ margin-bottom:5px; }
[id*="main-content"] [class*="hl"] [class*="_child"]>article,
[id*="main-content"] [class*="hl"] [class*="_child"]>li,
[id*="main-content"] [class*="hl"] [class*="_child"]>ul
{ margin-left:20px; }
[class*="thumbnail-left"] [class*="_child"]>article,
[class*="thumbnail-left"] [class*="_child"]>li
 { width: 300px; }
[class*="sidebar"] [class*="thumbnail-left"] [class*="_child"]>article,
[class*="sidebar"] [class*="thumbnail-left"] [class*="_child"]>li
{ width: auto; margin: 0; }
 
[class*="-list"] [class*="_child"]>ul { width: 300px; }

[id*="main-content"] [class*="_child"]>[class*="hl-channel"] { width: 300px; }
[id*="main-content"] [class*="hl-channel"]:first-child+[class*="hl-channel"]+*,
[id*="main-content"] [class*="hlonly"] [class*="_child"]>*:first-child+*+*+*+*,
[id*="main-content"] [class*="hlonly"] [class*="_child"]>*:first-child+*+*+*+*+*+*,
[id*="main-content"] [class*="hlonly"] [class*="_child"]>*:first-child+*+*+*+*+*+*+*+*,
[id*="main-content"] [class*="hlonly"] [class*="_child"]>*:first-child+*+*+*+*+*+*+*+*+*+*
 { margin-left: 0; }

[id*="main-content"] [class*="hl"] [class*="_child"]>[class*="hl-channel"]:first-child,
[id*="main-content"] [class*="-hl"] [class*="_child"]>[class*="hl-channel"]:first-child+*+*+*+*+*,
[id*="main-content"] [class*="-hl"][class*="-ver"] [class*="_child"]>[class*="hl-channel"]:first-child+*,
[id*="main-content"] [class*="thumb"] [class*="_child"]>*:first-child,
[id*="main-content"] [class*="thumbonly"] [class*="_child"]>*:first-child+*+*+*+*,
[id*="main-content"] [class*="thumb-list-ver"] [class*="_child"]>*:first-child+*+*,
[id*="main-content"] [class*="-4thumb-list-hor"] [class*="_child"]>*:first-child+*+*+*+*
{ margin-left: 0; } 
 
[class*="-hl"] [class*="_child"]>[class*="hl-channel"]:first-child+*+*+*+*+*
{ clear: left; }

*:first-child+html [id*="main-content"] [class*="-hl"] [class*="_child"]>*:first-child+*+*+*,
*:first-child+html [id*="main-content"] [class*="-hl"] [class*="_child"]>*:first-child+*+*+*+* 
{ margin-bottom:16px; }

/*logo channel*/
[class*="logo-channel"] { position: relative; width: 940px; z-index: 5; height: 121px; margin: 0 auto; padding: 0 10px; background: #fff; }
[class*="logo-channel"]>h1>span, [class*="logo-channel"]>div>span { position: absolute; }
[class*="logo-channel"]>h1>span>a, [class*="logo-channel"]>div>span>a { display: block; text-indent: -9999px; overflow: hidden; }

/*form search content*/
[class*="search-content"] { right: 56px; top: 6px; z-index: 10; height: 24px; padding-left: 4px; padding-right: 26px; line-height: 22px; border-radius: 5px; -webkit-border-radius: 5px; }
[class*="search-content"] input[type=text] { width: 100%; height: 24px;}

[class*="nav-wrap"] { z-index: 10; width: 960px; margin: 0 auto; }
[class*="nav-wrap"]>span { display: block; left: -9999px; top: 0; }

/* ico-play */
a [class="ico-play"] { position: absolute; left: 50%; top: 50%; margin-left: -17px; margin-top: -17px; display: block; text-indent: -9999px; width: 34px; height: 34px; opacity: 1; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; }				   
a:hover [class="ico-play"] { opacity: 0; /*filter: alpha(opacity=0);*/ }

/*leaderboard*/
[class^="leaderboard"] { width: 100%; }
.leaderboard__wrap { height: 92px; padding: 15px 0; float:right; width: 728px; position: relative; z-index: 20; }
/* [class^="leaderboard"]>*>* { float:right; }
[class^="leaderboard"]>*>*+* { display: none!important; }*/
.leaderboard__wrap.leaderboard__wrap a { background-position: 0 0; }

/*ads125*/
div[class*="ads125"] { padding: 15px 0 0 15px; background: #f5f5f5; }
*+html div[class*="ads125"] { padding-bottom: 15px; }
div[class*="ads125"]>div,
div[class*="ads125"]>a,
div[class*="ads125"]>object,
div[class*="ads125"]>embed
{ display: block !important; float: left; margin-bottom: 10px; margin: 0 17px 15px 0; }
*+html div[class*="ads125"] script { display: inline !important;}
div[class*="ads125"]>div[display="null"] { display: none !important;}

#content .leaderboard { display:none; }

/* social-share */
.social-share ul li { padding-left: 0; background: none; clear: none; }
.social-share ul li a .social-icon { font-size: 225%!important; padding: 10px 0 7px!important; }
.entry-share .social-share ul li a .social-icon { padding: 6px 0 2px!important; font-size: 190%!important; }
.entry-share .social-share ul li a small, .entry-share .social-share ul li a span { padding: 4px 0 !important; }

/* snic */
.snic { width: 960px; margin: 0 auto; position: relative; display: none; }
.snic--left, .snic--right { position: absolute; top: 0;} 
.snic--left { left: -160px;}
.snic--right { right: -160px; }


@media only screen and (min-width: 960px), (min-device-width: 1024px) {
	.snic { display: block; }
}