@charset "utf-8";
/* CSS Document */

body { font-family: sukhumvitreg,"Cordia New"; color: #000; font-size: 14pt; background: #fff;}
@page { size: 8.5in 11in; /*background-color: #white;*/ }
a { text-decoration: none; color: #000;}
[id="wrapper"]>header { height: auto !important;}
[id="wrapper"]>header>div>a { font-family: sukhumvitbold; font-size: 34pt !important;}
/*ซ่อน object*/
[id="sidebar"],
[id="main-navigation"],
[class*="breadcrumb"],
[class*="photo-read"],
body>footer,
[class*="rt2013-"],
[id="fb-root"],
[class*="leaderboard"],
[id="comment-body"],
[id="google-ads-box"],
[class*="fanpage"],
[class*="resize"],
[class*="sh-api"],
[class*="search"],
[id="content"]>article>header>h1+div>div small,
[id="content"]>article>header>h1+div>div span
{ display: none;}

[id="content"]>article>header>div { float: left; margin-bottom: .5cm; border-bottom: solid 1px #aaa; width: 100%;}
[id="content"]>article>header>h1 { font-family: sukhumvitbold; font-size: 28pt; line-height: 30pt; }
[class*="provider"] { position: absolute; right: 2mm; margin-top: -.5cm; font-size: 12pt; text-align: right; }
[class*="provider"] img, [class*="credit"]>* { display: block;}
[class*="credit"] img { margin-bottom: .2cm;}
[class*="credit"]>* { font-size: 12pt; line-height: 14pt;}
[class*="ct-read"] img { text-align: center;}